#owner-info.grid-row
  .column-two-thirds
    %h1.heading-xlarge= t("registration.title")
    %h3.heading-medium= t("owner_info.form.title")
    %p= t("owner_info.form.prompt")
    = simple_form_for @owner_info, url: owner_info_path, method: :put do |f|
      %legend.visuallyhidden= t("owner_info.form.title")
      = render "fields", f: f
