#owner-info.grid-row
  .column-two-thirds
    %h1.heading-xlarge= t("registration.title")
    %h3.heading-medium= t("owner_info.form.title")
    %p= t("owner_info.form.prompt")
    = simple_form_for @owner_info, url: owner_info_path, method: :put do |f|
      %legend.visuallyhidden= t("owner_info.form.title")
      - if f.error_notification
        .error-summary{"aria-labelledby" => "error-summary-heading", :role => "group", :tabindex => "-1"}
          %h1#error-summary-heading.heading-medium.error-summary-heading
            = f.error_notification
          %p= t("registration.error_description")
      %fieldset
        = form_select f, :title, owner_title_collection, input_html: {"data-target" => " owner_info_title_other"}, selected: selected_owner_title(f)

        = form_input f, :title_other, as: :fake, input_html: {value: other_owner_title(f)}
        = form_input f, :first_name
        = form_input f, :last_name
        = form_country_select f, :nationality
      %fieldset
        %h4.heading-small Residential address
        = form_input f, :address_1
        = form_input f, :address_2, label: false
        = form_input f, :address_3, label: false
        = form_input f, :town
        = form_input f, :county
        = form_input f, :postcode
        = form_country_select f, :country
      %fieldset
        %h4.heading-small Contact information
        = form_input f, :email, as: :email
        = form_input f, :phone_number
      %fieldset.inline
        .form-group
          %h4.heading-medium= t("simple_form.labels.owner_info.additional_owner")
          = additional_owner_radio_buttons(f)
      = f.button :submit, "Continue", class: "button"
