%table.table.table-striped#notification-list
  %thead
    %th Format
    %th Description
    %th Date Generated
    %th Date Delivered / Printed
    %th
  %tbody
    - notification_list.each do |row|
      - if row.is_a?(Correspondence)
        = render partial: "shared/notification_list/tabs/correspondence",
          locals: { correspondence: row }
      - if row.is_a?(Notification)
        = render partial: "shared/notification_list/tabs/notification",
          locals: { notification: row }
      - if row.is_a?(PrintJob)
        = render partial: "shared/notification_list/tabs/print_job",
          locals: { print_job: row }
      - if row.is_a?(Register::SectionNotice)
        = render partial: "shared/notification_list/tabs/section_notice",
          locals: { section_notice: row }
      - if row.is_a?(Register::TerminationNotice)
        = render partial: "shared/notification_list/tabs/termination_notice",
          locals: { termination_notice: row }
