.modal.fade{id: "link-application", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title
          Search for an Application

      .modal-body
        .row
          .col-sm-6
            = form_tag "/search/submissions", method: :get, remote: true do
              = hidden_field_tag :response_path, "/submission/finance_payments/search_results/submissions"
              = render partial: "search/fields"

        = simple_form_for @submission,
              url: link_submission_finance_payment_path(@submission),
              method: :patch do |f|
          = hidden_field_tag :target_ref_no
          #submissions
