.row
  .col-md-6
    %h1 Target Date Calculator
.row
  .col-md-6
    .pull-sright
      = form_tag '/admin/target_dates', method: :get do
        = select_date @start_date,  prefix: 'start_date', order: [:day, :month, :year]
        = submit_tag 'Calculate'
%br
.row
  .col-md-6
    .x_panel
      .x_content
        %p
          1 working day away:
          %strong= TargetDate.new(@start_date, :premium, Service.new(premium_days: 1)).calculate
        %p
          3 working days away:
          %strong= TargetDate.new(@start_date, :premium, Service.new(premium_days: 3)).calculate
        %p
          10 working days away:
          %strong= TargetDate.new(@start_date, :standard, Service.new(standard_days: 10)).calculate

%h3 Bank Holidays in Wales

%p
  This data is read from
  = link_to "Gov UK", "https://www.gov.uk/bank-holidays", target: "_blank"
.row
  .col-md-6
    %table.table.table-striped
      %thead
        %th Date
        %th Title
      %tbody
        - @holidays.each do |holiday|
          %tr
            %td= holiday.holiday_date.strftime("%A, %d %B %Y")
            %td= holiday.title
