.row
  %h1.heading_no_top_margin
    Print Queue:
    = t("print_job.menu_title.#{@template}")

.row#unprinted
  .col-md-12
    - if @unprinted_jobs.empty?
      .x_panel
        .x_panel
          .x_content
            %h2.text-center
              There are no items in this queue
    - else
      %table#print_queue.table.table-striped.table-hover
        %thead
          %tr
            %th Vessel
            %th Offical Number
            %th.text-center
              = link_to print_jobs_path(template: @template, format: :pdf), target: "_blank", class: "btn btn-primary" do
                %i.fa.fa-print
                = t("print_job.print_all_button_text.#{@template}")
            %th Proccessed by
            %th Processed date
        %tbody
          - @unprinted_jobs.each do |print_job|
            %tr
              %td= print_job.printable.vessel.name
              %td= print_job.printable.vessel.reg_no
              %td.certificate.text-center
                = link_to print_job_path(print_job, format: :pdf), target: "_blank" do
                  %i.fa.fa-print
                  Print
              %td= print_job.printable.actioned_by
              %td= print_job.created_at.to_s(:date_time) if print_job.created_at

.row#printing
  .col-md-12
    %h2 Recently Printed
    - if @printing_jobs.empty?
      .x_panel
        .x_panel
          .x_content
            %h2.text-center
              All items have been marked as printed
    - else
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th Vessel
            %th Offical Number
            %th Printed by
            %th
            %th
        %tbody
          - @printing_jobs.each do |print_job|
            %tr{ id: "print_job_#{print_job.id}"}
              %td= print_job.printable.vessel.name
              %td= print_job.printable.vessel.reg_no
              %td= print_job.printing_by
              %td= print_job.printing_at.to_s(:date_time)
              %td
                = link_to print_job_path(print_job, format: :pdf), target: "_blank" do
                  %i.fa.fa-print
                  Re-Print
              %td
                = link_to print_job_path(print_job),
                  remote: true,
                  method: :put,
                  class: "btn btn-success btn-sm" do
                  Mark as Printed
