- @finance_payment = Decorators::FinancePayment.new(@finance_payment)
%h1= @finance_payment.page_heading

.row
  .col-md-3
    = render partial: "finance_payments/finance_payment", locals: { finance_payment: @finance_payment }
  .col-md-9
    #submission_info.x_panel
      %h2.x_title Create New Application
      .x_content
        = simple_form_for @submission, url: finance_payment_submissions_path(@finance_payment) do |f|
          = f.input :part, as: :hidden
          = render partial: "submissions/fields", locals: { f: f }
          .row.no-print
            = button_tag(type: 'submit', class: "btn btn-success btn-md pull-right") do
              %i.fa.fa-check
              Save

            = link_to "Cancel", finance_payment_path(@finance_payment), class: "btn btn-warning pull-right"

= render partial: "finance_payments/actions"
