#wrapper
  #login.animate.form
    %section.login_content
      = form_for :session, url: session_path, method: :post, html: { class: "form-wedge" } do |form|
        %h1 Login to Waves
        = form.text_field :email, type: "email", placeholder: "Email address", required: true, class: "form-control"
        = form.password_field :password, placeholder: "Password", required: true, class: "form-control"
        = form.submit "Secure Login", class: "btn btn-success btn-block"
      .separator
      %p
        = link_to "Forgotten password?", new_password_path
      %p &copy; 2016 All Rights Reserved.


