- if submissions.empty?
  %p Nothing found.
- else
  %table.table.table-striped#search_results
    %thead
      %th Vessel Name
      %th Official Number
      %th Applicant Name
      %th Application Type
      %th Reference No.
      %th
    %tbody
      - submissions.each do |submission|
        - submission = Decorators::Submission.new(submission)
        %tr
          %td= submission.vessel_name
          %td= submission.vessel_reg_no
          %td= submission.applicant_name
          %td= submission.job_type
          %td= submission.ref_no
          %td
            = link_to "#",
              onclick: "set_target_submission_id('#{submission.id}')",
              class: "btn btn-warning btn-xs" do
              Link
:javascript
  function set_target_submission_id(submission_id) {
    $("#payment_submission_id").val(submission_id);
    $("#payment_submission_id").closest("form").submit();
  }

