.modal.fade{id: "approve-application", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      = form_tag approve_submission_states_path(submission) do |f|
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4.modal-title
            = t("submission.approval.modal-title.#{submission.task}")

        - if Task.new(submission.task).prints_certificate?
          = render partial: "submissions/modals/approve/certificate",
            locals: { submission: submission }

        .modal-footer
          = submit_tag t("submission.approval.modal-btn.#{submission.task}"), class: "btn btn-success btn-lg"
