.modal.fade{id: 'email-content-add', role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title Link Correspondence to Application
      = simple_form_for Correspondence.new(noted_at: Date.today), url: submission_correspondence_path(submission), method: :post do |f|
        .modal-body
          .row
            .col-md-6
              .form-group
                = f.input :subject
            .col-md-6
              .form-group
                = f.input :format, as: :select, label: "Correspondence Format", collection: ["Email", "Post"], include_blank: false
          .row
            .col-md-9
              .form-group
                = f.input :noted_at, as: :string, label: "Date Received", input_html: { "data-provide" => "datepicker", "data-date-autoclose" => "true", "data-date-format" => "dd/mm/yyyy"}
          .row
            .col-sm-12
              .form-group
                = f.input :content, as: :text, input_html: {rows: 6}
        .modal-footer
          = f.submit "Save Correspondence", class: "btn btn-primary"


- submission.correspondences.each do |correspondence|
  .modal.fade{id: "correspondence-#{ correspondence.id }", role: "dialog", tabindex: "-1"}
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4= correspondence.subject
        .modal-body
          %code= correspondence.content
        .modal-footer
          %button.btn.btn-default{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} Close
