.postcode-lookup
  = submission_f.simple_fields_for :delivery_address do |delivery_f|
    .submission-delivery-address
      %hr
      - delivery_f.object = submission_f.object.delivery_address
      .row
        .col-md-3
          = delivery_f.input :name, input_html: { class: "upcase" }
        .col-md-3
          %label.form-label-bold
            Postcode
          .input-group
            = text_field_tag :postcode_lookup_field, "", class: "postcode-lookup-field form-control"
            %span.input-group-btn
              = link_to "Lookup address", "#", class: "postcode-lookup-button btn btn-primary"
      .row
        .col-md-6.form-group
          .postcode-lookup-api-key.hidden= ENV["POSTCODE_LOOKUP_API_KEY"]
          .postcode-results-field
      .clearfix
      .row
        .col-md-3
          = delivery_f.input :address_1, input_html: { class: "upcase address-1" }
        .col-md-3
          = delivery_f.input :address_2, input_html: { class: "upcase address-2" }
        .col-md-3
          = delivery_f.input :address_3, input_html: { class: "upcase address-3" }
      .row
        .col-md-3
          = delivery_f.input :town, label: "Town or City", input_html: { class: "upcase town" }
        .col-md-3
          = delivery_f.input :postcode, input_html: { class: "upcase postcode" }
        .col-md-3
          = delivery_f.input :country, collection: countries_collection, include_blank: false, selected: (@submission.delivery_address.country || "UNITED KINGDOM")

