%h2 Carving & Marking
%table.table.table-striped
  %thead
    %th Delivery Method
    %th Issue Date
    %th Template
    %th Officer
    %th
  %tbody
    - @submission.carving_and_markings.each do |carving_and_marking|
      %tr
        %td.delivery_method= carving_and_marking.delivery_method.try(:titleize)
        %td= carving_and_marking.created_at
        %td= carving_and_marking.template_name
        %td= carving_and_marking.actioned_by
        %td
          - if carving_and_marking.print_job
            = link_to print_job_path(carving_and_marking.print_job, format: :pdf),
              target: "_blank",
              class: "btn btn-warning pull-right btn-sm" do
              %i.fa.fa-print
              Print Carving & Marking Note
.row.status
  .col-md-3
    - if @submission.can_issue_carving_and_marking?
      - unless @readonly
        = link_to new_submission_carving_and_marking_path(@submission, task_id: @task.id), class: "btn btn-primary",
          remote: true,
          "data-target" => "#new-carving-and-marking",
          "data-toggle" => "modal" do
          Issue Carving & Marking Note

        = render partial: "submissions/extended/forms/carving_and_marking/modal"
    -else
      - unless @submission.vessel_reg_no
        .red Official Number required
  - if @submission.carving_and_marking_received_at
    .col-md-6
      %h4
        Signed Carving & Marking received on #{@submission.carving_and_marking_received_at}.
    .col-md-3
      - unless @readonly
        = link_to update_state_submission_carving_and_marking_path(@submission),
          remote: true,
          method: :post,
          class: "btn btn-warning pull-right" do
          Mark as Pending
  - else
    .col-md-9
      - unless @readonly
        = link_to update_state_submission_carving_and_marking_path(@submission),
          method: :post,
          remote: true,
          class: "btn btn-success pull-right" do
          Mark as Received
