.modal.fade{id: "notification-#{ notification.id }", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-md
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4
          = notification.class.to_s.demodulize
          Email
      .modal-body
        %dl
          %dt Date generated
          %dd= notification.created_at.to_s(:date_time)

        %dl
          %dt Date delivered
          %dd= notification.delivered_at.to_s(:date_time) if notification.delivered_at
        %dl
          %dt Recipient
          %dd= notification.recipient_email
        - if notification.class.const_defined?('REASONS')
          %dl
            %dt Reason
            %dd= notification.subject.humanize if notification.subject
          %dl
            %dt Message
            %dd= notification.body.html_safe
      .modal-footer
        %button.btn.btn-default{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} Close
