- submissions = vessel.submissions.active
%tr.vessel
  %td
    = link_to vessel_path(vessel), class: "search-result" do
      = vessel.name
    %br
    = vessel.vessel_type
    %br
    Official Number: #{vessel.reg_no}
    %br
    Callsign: #{vessel.radio_call_sign}
    %br
    MMSI: #{vessel.mmsi_number}
    %br
    HIN: #{vessel.hin}
    - if Policies::Workflow.uses_port_no?(vessel)
      %br
      PLN: #{vessel.pln}
  %td
    Owners: #{vessel.owners.map(&:inline_name_and_address).join("<br/>")}
    %br
    Last updated: #{vessel.updated_at}

  %td
    = render partial: "/shared/registration_status", locals: { registration_status: vessel.registration_status }
- unless submissions.empty?
  %tr
    %td{colspan: 3}
      = link_to "#",
        "data-target" => "#vessel_submissions_#{vessel.id}",
        "data-toggle" => "collapse" do
        &gt;
        = pluralize(submissions.length, "open application")
      .collapse{ id: "vessel_submissions_#{vessel.id}" }
        %table.table
          %tbody
            = render partial: "/search/submission", collection: submissions


