- submissions = vessel.submissions.active
%tr.vessel
  %td
    = link_to vessel_path(vessel), class: "search-result" do
      = vessel.name
    %span.pull-right.label.label-success VESSEL
    %br
    = vessel.vessel_type
    %br
    Official Number: #{vessel.reg_no}
    %br
    Callsign: #{vessel.radio_call_sign}
    %br
    MMSI: #{vessel.mmsi_number}
    %br
    HIN: #{vessel.hin}
    %br
    PLN: #{vessel.pln}

    - unless submissions.empty?
      %br
      = link_to "#",
        "data-target" => "#vessel_submissions_#{vessel.id}",
        "data-toggle" => "collapse" do
        &gt;
        = pluralize(submissions.length, "open application")

