%p Thank you for your application to change the owner address details for #{@vessel_name} on #{part_of_register}. #{application_processing_time_no_premium}

%p Application Reference No: #{@submission_ref_no}

%p When your address details have been updated, we will confirm this to you by email.

%p If you do not receive an email within 20 working days of today's date, please contact #{contact_us_for_part}

%p #{quote_ref_no}
