%p
  Thank you for your application to close the registration of #{@vessel_name} on #{part_of_register}.
  - if @declarations_required
    #{pending_declaration_msg}
  #{application_processing_time}

%p  Application Reference No: #{@submission_ref_no}

%p To confirm closure, we will send a Transcript of Closed Registry either by first class mail, or by email, to the address requested in the application.

%p If you do not receive a Transcript of Closed Registry within 20 working days (or 5 working days if you have paid for a Premium service) of today's date, please contact #{contact_us_for_part}


%p #{quote_ref_no}
