%p Thank you for your application for a Duplicate Certificate for the vessel #{@vessel_name} on #{part_of_register}. #{application_processing_time}

%p Application Reference No: #{@submission_ref_no}

%p A Duplicate Certificate of British Registry #{will_be_sent}.

%p If you do not receive a Duplicate Certificate of British Registry within 20 working days (or 5 working days if you have paid for a Premium service) of today's date, please contact #{contact_us_for_part}

%p #{quote_ref_no}
