%p Thank you for your enquiry regarding the vessel #{@vessel_name} on #{part_of_register}. Your enquiry may take up to 20 days to process. Please make a note of the Application Reference No detailed below:

%p Application Reference No: #{@submission_ref_no}

%p If you do not receive a reply within 20 working days (or 5 working days if you have paid for a Premium service) of today's date, please contact #{contact_us_for_part}

%p #{quote_ref_no}
