%p
  Thank you for your application to register a mortgage against the vessel #{@vessel_name}, on #{part_of_register}.
%p
  #{application_processing_time}

%p  Application Reference No: #{@submission_ref_no}

%p #{quote_ref_no}
