%p
  Thank you for your application to change the mortgage of #{@vessel_name} on #{part_of_register}.
  #{application_processing_time}

%p  Application Reference No: #{@submission_ref_no}

%p #{quote_ref_no}
