Thank you for your application to renew the registration of #{@vessel_name} on #{part_of_register}.
- if @declarations_required
  #{pending_declaration_msg}
#{application_processing_time}

\
Application Reference No: #{@submission_ref_no}
\
A Certificate of UK Registry #{will_be_sent}.
\
#{if_no_certificate}
\
#{quote_ref_no}
