%p
  Thank you for your application to renew the registration of #{@vessel_name} on #{part_of_register}.
  - if @declarations_required
    #{pending_declaration_msg}
  #{application_processing_time}

%p  Application Reference No: #{@submission_ref_no}

%p A Certificate of British Registry #{will_be_sent}.

%p #{if_no_certificate}

%p #{quote_ref_no}
