%h2 Engines
%table.table.table-striped
  %thead
    - if display_extended_engines?(@submission)
      %th Type
    %th Make / Model
    - if display_extended_engines?(@submission)
      %th Cylinders
      %th RPM
      %th.extended-engine MCEP per Engine
      %th Derating
      %th MCEP After Derating
    - else
      %th Power
    %th Quantity
    %th
  %tbody
    - @submission.engines.each do |engine|
      %tr
        - if display_extended_engines?(@submission)
          %td
            = link_to engine.engine_type, "#",
              "data-target" => "#edit_engine_#{engine.id}",
              "data-toggle" => "modal"
        %td.make_and_model
          = link_to engine.make_and_model, "#",
            "data-target" => "#edit_engine_#{engine.id}",
            "data-toggle" => "modal"
        - if display_extended_engines?(@submission)
          %td.cylinders= engine.cylinders
          %td.rpm= engine.rpm
          %td.mcep_per_engine
            - if engine.mcep_per_engine.present?
              #{ rounded_int(engine.mcep_per_engine.to_f) }kW
          %td.derating= engine.derating
          %td.mcep_after_derating
            - if engine.mcep_after_derating.present?
              #{ rounded_int(engine.mcep_after_derating.to_f) }kW
        - else
          %td.power
            - if engine.mcep_per_engine.present?
              #{ rounded_int(engine.mcep_per_engine.to_f) }kW

        %td.quantity= engine.quantity.to_i
        %td
          - unless @readonly
            = link_to submission_engine_path(@submission, engine),
              class: 'btn-link pull-right',
              method: :delete,
              remote: true,
              data: { confirm: "Are you sure you want to remove this engine?" },
              style: 'color: red;' do
              %i.fa.fa-trash
              Remove

%p.pull-right.total_mcep
  %strong
    Total
    = display_extended_engines?(@submission) ? "MCEP:" : "Power:"
    #{ rounded_int(Engine.total_mcep_for(@submission)) }kW

- unless @readonly
  = render partial: "submissions/extended/forms/engines/editable"
