.row
  - if display_extended_engines?(@submission)
    .col-md-3
      = engine_f.input :engine_type, as: :select,
        label: "Engine Type",
        collection: Engine::ENGINE_TYPES,
        include_blank: false,
        input_html: { class: "select2 select2_single" }
  .col-md-3
    = engine_f.input :make, label: "Engine Make",
      input_html: { class: "upcase" }
  .col-md-3
    = engine_f.input :model, label: "Engine Model",
      input_html: { class: "upcase" }
  - if display_extended_engines?(@submission)
    .col-md-3
      = engine_f.input :cylinders, label: "Cylinders"
    .col-md-3
      = engine_f.input :rpm, label: "RPM"
    .col-md-3
      = engine_f.input :mcep_per_engine,
        label: "MCEP per Engine",
        as: :feedback,
        feedback_label: "kW",
        placement: :right
    .col-md-3
      = engine_f.input :derating, as: :select,
        label: "Derating",
        collection: Engine::DERATINGS,
        input_html: { class: "select2 select2_single" }
    .col-md-3
      = engine_f.input :mcep_after_derating,
        label: "MCEP after Derating",
        as: :feedback,
        feedback_label: "kW",
        placement: :right
  - else
    .col-md-3
      = engine_f.input :mcep_per_engine,
        label: "Engine Power",
        as: :feedback,
        feedback_label: "kW",
        placement: :right

  .col-md-3
    = engine_f.input :quantity
