- account_ledger = AccountLedger.new(@submission)
.x_panel#application-info
  %h2.x_title Application Information
  .x_content
    %table.table
      %tbody
        %tr
          %td.soft-label.no-top-border Primary Application:
          %td.no-top-border
            %strong= submission.job_type
        %tr
          %td.soft-label Registration Type:
          %td
            %strong= submission.registration_type.to_s.titleize

        %tr
          %td.soft-label Source:
          %td
            %strong= submission.source_description
        %tr
          %td.soft-label Date Received:
          %td
            %strong= submission.received_at
        %tr
          %td.soft-label Declarations:
          %td
            %strong= submission.declaration_status
        %tr
          %td.soft-label Documents Received:
          %td
            %strong= submission.documents_received
        %tr
          %td.soft-label Email Recipient:
          %td.applicant-email
            %strong
              = link_to_if submission.active?, submission.applicant.email_description, "#",
                data: { target: "#edit_applicant", toggle: "modal" }
        %tr
          %td.soft-label Postal Recipient:
          %td.applicant-delivery-address
            = render partial: "submissions/info/delivery_address", locals: { submission: submission }
        %tr
          %td.soft-label Payment Due
          %td.payment_due.blue
            %strong
              = formatted_amount(account_ledger.payment_due)

        %tr
          %td.soft-label Payment Received
          %td.payment_received.blue
            %strong
              = formatted_amount(account_ledger.payment_received)

        %tr
          %td.soft-label Balance
          %td.balance{ class: (account_ledger.balance < 0 ? "red" : "blue")}
            %strong
              = formatted_amount(account_ledger.balance)

