- account_ledger = AccountLedger.new(@submission)
.x_panel
  %h2.x_title Application Information
  .x_content
    %table.table
      %tbody
        %tr
          %td.soft-label.no-top-border Application Type:
          %td.no-top-border
            %strong= submission.job_type
        %tr
          %td.soft-label Source:
          %td
            %strong= submission.source_description
        %tr
          %td.soft-label Date Received:
          %td
            %strong= submission.received_at
        %tr
          %td.soft-label Application Expiry Date:
          %td.expiry-date
            %strong
              - if submission.name_approval
                = submission.name_approval.approved_until
        %tr
          %td.soft-label Declarations:
          %td
            %strong= submission.declaration_status
        %tr
          %td.soft-label Documents Received:
          %td
            %strong= submission.documents_received
        %tr
          %td.soft-label Email Recipient:
          %td.applicant-email
            %strong
              = link_to_unless @readonly, submission.applicant_description, "#",
                data: { target: "#edit_applicant", toggle: "modal" }
        %tr
          %td.soft-label Postal Recipient:
          %td.applicant-delivery-address
            %strong
              = link_to_unless @readonly, submission.delivery_address_description, "#",
                data: { target: "#edit_applicant", toggle: "modal" }
        %tr
          %td.soft-label Payment Due
          %td.payment_due
            %strong
              = formatted_amount(account_ledger.payment_due)

        %tr
          %td.soft-label Payment Received
          %td.payment_received
            %strong
              = formatted_amount(account_ledger.payment_received)

        %tr
          %td.soft-label Balance
          %td.balance
            %strong
              = formatted_amount(account_ledger.balance)



.modal.fade{id: "edit_applicant", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title Email Recipient
      = simple_form_for submission, url: submission_applicant_path(submission, submission), method: :put, remote: true do |submission_f|
        .modal-body
          .row
            .col-md-4
              = submission_f.input :applicant_name, label: "Email Recipient Name", input_html: { class: "upcase" }
            .col-md-4
              = submission_f.input :applicant_email, label: "Email"
          %hr
          %h4 Postal Recipient

          .postcode-lookup
            = submission_f.simple_fields_for :delivery_address do |delivery_f|
              .submission-delivery-address
                %hr
                - delivery_f.object = submission_f.object.delivery_address
                .row
                  .col-md-4
                    = delivery_f.input :name, label: "Postal Recipient Name", input_html: { class: "upcase" }
                  .col-md-4
                    %label.form-label-bold
                      Postcode
                    .input-group
                      = text_field_tag :postcode_lookup_field, "", class: "postcode-lookup-field form-control"
                      %span.input-group-btn
                        = link_to "Lookup address", "#", class: "postcode-lookup-button btn btn-primary"
                .row
                  .col-md-8.form-group
                    .postcode-lookup-api-key.hidden= ENV["POSTCODE_LOOKUP_API_KEY"]
                    .postcode-results-field
                .clearfix
                .row
                  .col-md-4
                    = delivery_f.input :address_1, input_html: { class: "upcase address-1" }
                  .col-md-4
                    = delivery_f.input :address_2, input_html: { class: "upcase address-2" }
                  .col-md-4
                    = delivery_f.input :address_3, input_html: { class: "upcase address-3" }
                .row
                  .col-md-4
                    = delivery_f.input :town, label: "Town or City", input_html: { class: "upcase town" }
                  .col-md-4
                    = delivery_f.input :postcode, input_html: { class: "upcase postcode" }
                  .col-md-4
                    = delivery_f.input :country, collection: countries_collection, include_blank: false, selected: (@submission.delivery_address.country || "UNITED KINGDOM")


        .modal-footer
          = submission_f.submit "Save Notification Recipient", class: "btn btn-primary"
