- unless task.current_state == :completed
  .row
    .col-sm-12
      %ol.breadcrumb
        %li.breadcrumb-item.active
          Queue
        %li.breadcrumb-item
          - case task.current_state
            - when :cancelled
              = link_to "Cancelled Tasks", tasks_cancelled_path
            - when :unclaimed
              = link_to "Unclaimed Tasks", tasks_unclaimed_path
            - when :claimed
              - if submission.claimant == current_user
                = link_to "My Tasks", tasks_my_tasks_path
              - else
                = link_to "Team Tasks", tasks_team_tasks_path
            - when :referred
              = link_to "Referred Tasks", tasks_referred_path
