- account_ledger = AccountLedger.new(submission)
.x_panel
  %h2.x_title Payment for this Task
  .x_content
    .panel{ class: "panel-#{account_ledger.ui_color}" }
      .panel-heading
        .panel-title{align: :center}
          Payment Received: #{formatted_amount(account_ledger.amount_paid)}
    %table.table
      %thead
        %th
        %th Standard Fee
        %th Premium Addon
        %th Subtotal
        %th
      %tbody
        - @submission.line_items.each do |line_item|
          %tr.line_item
            %td.description= t("fees.label.#{line_item.task_variant}")
            %td.li-price= formatted_amount(line_item.price)
            %td.premium= formatted_amount(line_item.premium_addon_price)
            %td.subtotal= formatted_amount(line_item.subtotal)
            %td
              = link_to "#",
                data: { target: "#line_item_#{line_item.id}" , toggle: "modal" } do
                %i.fa.fa-cog
                Edit

              .modal.fade{id: "line_item_#{line_item.id}", role: "dialog", tabindex: "-1"}
                .modal-dialog.modal-sm
                  = simple_form_for line_item,
                    remote: true,
                    url: submission_line_item_path(@submission, line_item) do |f|
                    = hidden_field_tag "modal_id", "line_item_#{line_item.id}"
                    .modal-content
                      .modal-header
                        %h4.modal-title
                          = t("fees.label.#{line_item.task_variant}")
                      .modal-body
                        = f.input :price_in_pounds, label: "Standard Fee"
                        = f.input :premium_addon_price_in_pounds, label: "Premium Addon"
                      .modal-footer
                        = button_tag type: 'submit',
                          class: "btn btn-primary btn-sm pull-right" do
                          Save

                        = link_to submission_line_item_path(@submission, line_item, modal_id: "line_item_#{line_item.id}"),
                          class: 'btn-link pull-left',
                          method: :delete,
                          remote: true,
                          data: { confirm: "Are you sure you want to remove this item?" },
                          style: 'color: red;' do
                          %i.fa.fa-trash
                          Remove

        %tr
          %td{ colspan: 3 }
            .pull-right Balance
          %td#balance
            %strong= formatted_amount(account_ledger.balance)
          %td

    %h2.x_title
      Fee Category:
      %em #{Policies::Definitions.fee_category(submission).titleize}
    %table.table
      %thead
        %th Task
        %th Standard Fee
        %th Premium Addon
        %th Subsequent Item
      %tbody
        - Fee.for(Policies::Definitions.fee_category(submission)).each do |fee|
          %tr
            %td.task_variant
              - if @readonly
                = t("fees.label.#{fee.task_variant}")
              - else
                = link_to submission_line_items_path(submission, fee_id: fee.id),
                  method: :post,
                  remote: true do
                  %i.fa.fa-cart-plus
                  = t("fees.label.#{fee.task_variant}")
            %td= formatted_amount(fee.price)
            %td= fee.premium_addon_price ? formatted_amount(fee.premium_addon_price) : "n/a"
            %td= fee.subsequent_price ? formatted_amount(fee.subsequent_price) : "n/a"
