- account_ledger = AccountLedger.new(submission)
.x_panel
  %h2.x_title Payment for this Task
  .x_content
    .panel.panel-success
      .panel-heading
        .panel-title{align: :center}
          Payment Received: #{formatted_amount(account_ledger.amount_paid)}
    %table.table
      %thead
        %th
        %th Standard Fee
        %th Premium Addon
        %th Subtotal
        %th
      %tbody
        - @submission.line_items.each do |line_item|
          %tr.line_item
            %td.description= t("fees.label.#{line_item.task_variant}")
            %td.li-price= formatted_amount(line_item.price)
            %td.premium= formatted_amount(line_item.premium_addon_price)
            %td.subtotal= formatted_amount(line_item.subtotal)
            %td
              = link_to submission_line_item_path(@submission, line_item),
                class: 'btn-link',
                method: :delete,
                remote: true,
                data: { confirm: "Are you sure you want to remove this item?" },
                style: 'color: red;' do
                %i.fa.fa-trash
                Remove
        %tr
          %td{ colspan: 3 }
            .pull-right Balance
          %td#balance
            %strong= formatted_amount(account_ledger.balance)
          %td

    %h2.x_title
      Fee Category:
      %em #{Policies::Definitions.fee_category(submission).titleize}
    %table.table
      %thead
        %th Task
        %th Standard Fee
        %th Premium Addon
        %th Subsequent Item
      %tbody
        - Fee.for(Policies::Definitions.fee_category(submission)).each do |fee|
          %tr
            %td.task_variant
              - if @readonly
                = t("fees.label.#{fee.task_variant}")
              - else
                = link_to submission_line_items_path(submission, fee_id: fee.id),
                  method: :post,
                  remote: true do
                  %i.fa.fa-cart-plus
                  = t("fees.label.#{fee.task_variant}")
            %td= formatted_amount(fee.price)
            %td= fee.premium_addon_price ? formatted_amount(fee.premium_addon_price) : "n/a"
            %td= fee.subsequent_price ? formatted_amount(fee.subsequent_price) : "n/a"
