- submission = Decorators::Submission.new(submission)
- task ||= Submission::Task.new
#heading.row
  .col-md-10
    %h1{style: "margin-top: 0px !important; margin-bottom: 0px !important;"}

      = link_to submission_signature_path(submission) do
        %span.vessel-name #{ submission.vessel_name }. ID:
        %span.ref-no= submission.ref_no || "Not yet generated"
      = yield(:heading_descriptor)
    .row#official-and-ec-no
      = render partial: "/submissions/info/official_no", locals: { submission: submission }

  .col-md-2
    %h2.pull-right= render partial: "/shared/registration_status", locals: { registration_status: submission.registration_status }

    - if display_edit_application_link?(submission, task)
      = link_to "Edit Application",
        edit_submission_path(submission, task_id: task.id),
        class: "btn btn-primary pull-right",
        id: "edit_application"

    - if task && task.unclaimed?
      .pull-right
      = form_tag claim_submission_task_path(submission, task) do
        = submit_tag "Claim", class: "btn btn-primary pull-right"
