- submission = Decorators::Submission.new(submission)
- task ||= Submission::Task.new
#heading.row
  .col-md-10
    %h1{style: "margin-top: 0px !important; margin-bottom: 0px !important;"}
      %span.vessel-name #{ submission.vessel_name }. ID:
      %span.ref-no= submission.ref_no || "Not yet generated"
      = yield(:heading_descriptor)
    .row#official-and-ec-no
      = render partial: "/submissions/info/official_no", locals: { submission: submission }

  .col-md-2
    %h2.pull-right= render partial: "/shared/registration_status", locals: { registration_status: submission.registration_status }
