- submission = Decorators::Submission.new(submission)
#heading.row
  .col-md-10
    %h1{style: "margin-top: 0px !important; margin-bottom: 0px !important;"}
      = link_to submission_signature_path(submission) do
        = submission.job_type
        for
        %span.vessel-name #{ submission.vessel_name }. ID:
        %span.ref-no= submission.ref_no || "Not yet generated"
    .row#official-and-ec-no
      = render partial: "/submissions/info/official_no", locals: { submission: submission }

  .col-md-2
    %h2.pull-right= render partial: "/shared/registration_status", locals: { registration_status: submission.registration_status }

    - if display_edit_application_link?(submission)
      = link_to "Edit Application",
        edit_submission_path(submission),
        class: "btn btn-primary pull-right",
        id: "edit_application"


    - if submission.unassigned?
      .pull-right
      = form_tag claim_submission_task_path(@submission) do
        = submit_tag "Claim", class: "btn btn-primary pull-right"
