- if submission.cancelled?
  #prompt.alert.alert-info
    Application Cancelled
    - if worklog = WorkLog.find_by(submission_id: submission.id)
      by #{worklog.actioned_by}
      on #{worklog.created_at}.

    - if submission.cancellation
      #{ submission.cancellation.subject }

- elsif submission.referred?
  #prompt.alert.alert-warning
    Application Referred.
    - if submission.referral
      #{ submission.referral.subject.to_s.humanize }.
    Next action due by #{ submission.referred_until }.

- unless submission.advisories.empty?
  #prompt.alert.alert-warning
    - submission.advisories.each do |advisory|
      %p= t("submission.advisories.#{advisory}")
