.x_panel#application-tools
  %h2.x_title
    Application Tools
  .x_content
    .row
      - if Policies::Workflow.can_email_application_approval?(submission)
        .col-md-4
          = render partial: "/submission/application_approvals/new", locals: {submission: submission}

      - if submission.name_approval
        .col-md-4
          = link_to submission_name_approval_path(@submission), method: :delete,
            class: "btn btn-danger",
            data: { confirm: "Are you sure you want to cancel this approved name?" },
            style: { color: "red" } do
            %i.fa.fa-trash
            Cancel Approved Name

    - unless submission.print_jobs.empty?
      %hr
      .row
        - submission.print_jobs.each do |print_job|
          .col-md-4
            = link_to print_job_path(print_job, format: :pdf),
              target: "_blank", class: "btn btn-warning" do
              %i.fa.fa-print
              = t("print_job.button_text.#{print_job.template}")
