.row
  .col-sm-6
    %h1.heading_no_top_margin
      = heading
  .col-sm-6
    .pull-right
      = render partial: "tasks/actions/start_new_application"
      = link_to tasks_next_task_path, class: 'btn btn-primary' do
        %i.fa.fa-arrow-circle-right{style: 'font-size: 1.2em; font-weight: bold;'}
        Process Next Application

.row
  .col-md-12

    - if @my_tasks && submissions.empty?
      .x_panel
        .x_content
          %p.text-center
            = image_tag 'hs-huzzah-01.svg', width: '100px'
          %h2.text-center
            Tasks Complete
          %p.text-center
            Your task list is clear.
          %p.text-center
            = link_to 'Get More Work', tasks_unclaimed_path, class: 'btn btn-primary'
    - elsif submissions.empty?
      .x_panel
        .x_panel
          .x_content
            %h2.text-center
              There are no items in this queue

    - else
      .x_panel
        %table#submissions.table.table-striped.table-hover
          %thead
            %tr
              %th Vessel
              %th Official No.
              - if Policies::Workflow.uses_registration_types?(current_activity.part)
                %th Registration Type
              %th Application Ref No.
              %th Job Type
              %th Date Received
              %th Referred Until
              %th Target Date
              %th Payment
              %th Source
              %th Last Update
              %th
          %tbody
            - submissions.each do |submission|
              - submission = Decorators::Submission.new(submission)

              %tr.submission{ id: "submission_#{ submission.id }"}
                %td.vessel-name= link_to submission.vessel_name, submission_path(submission)
                %td= submission.vessel_reg_no
                - if Policies::Workflow.uses_registration_types?(current_activity.part)
                  %td.registration_type= submission.registration_type.try(:humanize)
                %td= submission.ref_no
                %td= link_to submission.job_type, submission_path(submission)
                %td= submission.received_at
                %td= submission.referred? ? submission.referred_until : "n/a"
                %td= submission.target_date
                %td
                  = payment_status_icon(submission.payment_status)
                  - if submission.officer_intervention_required?
                    = formatted_amount(AccountLedger.new(submission).amount_paid)
                %td= submission.source_description
                %td= submission.updated_at
                %td= render partial: "/tasks/actions/claim_button", locals: {submission: submission}

      = will_paginate @submissions, renderer: BootstrapPagination::Rails


