= render partial: "heading", locals: { heading: heading }
.row
  .col-md-12
    = yield :filter_registration_type
.row
  .col-md-12
    - if @my_tasks && @tasks.empty?
      .x_panel
        .x_content
          %p.text-center
            = image_tag 'hs-huzzah-01.svg', width: '100px'
          %h2.text-center
            Tasks Complete
          %p.text-center
            Your task list is clear.
          %p.text-center
            = link_to 'Get More Work', tasks_unclaimed_path, class: 'btn btn-primary'
    - elsif @tasks.empty?
      .x_panel
        .x_panel
          .x_content
            %h2.text-center
              There are no items in this queue

    - else
      .x_panel
        %table.table.table-striped.table-hover#tasks
          %thead
            %tr
              %th Vessel
              %th Official Number
              - if Policies::Workflow.uses_registration_types?(current_activity.part)
                %th Registration Type
              %th Ref No.
              %th Task
              %th Date Received
              %th Referred Until
              %th Target Date
              %th Last Update
              %th
          %tbody
            - @tasks.each do |task|
              - submission = Decorators::Submission.new(task.submission)

              %tr.task{ id: "task_#{ task.id }"}
                %td.vessel-name= link_to submission.vessel_name, submission_task_path(submission, task)
                %td= submission.vessel_reg_no
                - if Policies::Workflow.uses_registration_types?(current_activity.part)
                  %td.registration_type= submission.registration_type.try(:humanize)
                %td= task.ref_no
                %td= link_to task.service, submission_path(submission)
                %td= task.received_at
                %td= task.referred? ? task.referred_until : "n/a"
                %td= TargetDate.days_away(task.target_date)
                %td= task.updated_at
                %td= render partial: "/tasks/actions/claim_button", locals: {submission: submission, task: task}

      = will_paginate @task, renderer: BootstrapPagination::Rails


