.row
  .col-sm-9
    %h1.heading_no_top_margin
      = heading

.x_panel
  %table#submissions.table.table-striped.table-hover
    %thead
      %tr
        %th Vessel
        %th Applicant
        %th Job Type
        %th Date Received
        %th Target Date
        %th Referred Until
        %th Payment
        %th Source
        %th Last Update
        %th
    %tbody
      - submissions.each do |submission|
        %tr.submission
          %td.vessel-name= link_to submission.vessel, submission_path(submission)
          %td= submission.applicant
          %td= submission.job_type
          %td= submission.received_at
          %td= submission.target_date
          %td
            - if submission.referred?
              = submission.referred_until
            - else
              n/a
          %td= css_tick(submission.payment.present?)
          %td= submission.source
          %td= submission.updated_at
          %td= render partial: "/tasks/actions/claim_button", locals: {submission: submission}
