#vessel_summary.col-md-4
  %table.table
    %tbody
      %tr
        %td.soft-label.no-top-border Official Number:
        %td.no-top-border.official_no
          %strong= @vessel.reg_no
      %tr
        %td.soft-label Make and model:
        %td
          %strong= @vessel.make_and_model
      %tr
        %td.soft-label Length:
        %td
          %strong #{ @vessel.length_in_meters }m
      %tr
        %td.soft-label Type:
        %td
          %strong= @vessel.vessel_type
      %tr
        %td.soft-label Autonomous Vessel:
        %td
          %strong= y_n(@vessel.autonomous_vessel)
.col-md-4
  %table.table
    %tbody
      %tr
        %td.soft-label.no-top-border MMSI Number:
        %td.no-top-border
          %strong= @vessel.mmsi_number
      %tr
        %td.soft-label Radio Call Sign:
        %td
          %strong= @vessel.radio_call_sign
      %tr
        %td.soft-label Hulls:
        %td
          %strong= @vessel.number_of_hulls
      %tr
        %td.soft-label HIN:
        %td
          %strong= @vessel.hin
.col-md-4
  %table.table
    %tbody
      %tr
        %td.soft-label.no-top-border Registration Date:
        %td.no-top-border
          %strong= @vessel.current_registration.registered_at.to_s(:date_time) if @vessel.current_registration
      %tr
        %td.soft-label Reg Expiry Date:
        %td
          %strong= @vessel.current_registration.registered_until.to_s(:date_summary) if @vessel.current_registration

      - if @vessel.registration_status == :closed
        %tr
          %td.soft-label Date of Closure:
          %td
            %strong= @vessel.current_registration.closed_at.to_s(:date_time)
