= link_to "#", class: "btn btn-primary",
  data: { target: "#approval-notification", toggle: "modal" } do
  %i.fa.fa-envelope
  Application Approval Email

.modal.fade{id: "approval-notification", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-md
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-titleApplication Application Approval Email

      - recipients = email_recipient_select_options(submission)

      - if recipients.empty?
        .modal-body
          .row
            .col-md-12.red An email cannot be sent without a recipient
      - else
        = simple_form_for Notification::ApplicationApproval.new(notifiable_id: submission.id, notifiable_type: "Submission"),
          url: submission_application_approvals_path(submission, task_id: task.id),
          method: :post do |f|
          .modal-body
            .row
              .col-md-6
                %label Select Recipient(s)
                - recipients.each do |recipient|
                  .form-group
                    = label_tag do
                      = check_box_tag "notification_application_approval[recipients][]",
                        recipient.email_description, true
                      = recipient.email_description
            .row
              .col-md-12
                .form-group
                  - f.object.subject = f.object.email_subject
                  = f.input :subject, label: "Email Subject"

            .row
              .col-md-12
                .form-group
                  %label Message
                  = f.trix_editor :body

          .modal-footer
            = f.submit "Send", class: "btn btn-primary"
