- recipients = email_recipient_select_options(submission)

- if recipients.empty?
  .modal-body
    .row
      .col-md-12.red An email cannot be sent without a recipient
- else
  = simple_form_for application_approval,
    url: submission_application_approvals_path(submission),
    method: :post do |f|
    .modal-body
      .row
        .col-md-12
          %label Select Recipient(s)
          - recipients.each do |recipient|
            .form-group
              = label_tag do
                = check_box_tag "notification_application_approval[recipients][]",
                  recipient.email_description, false
                = recipient.email_description
      .row
        .col-md-12
          .form-group
            - f.object.subject = f.object.email_subject
            = f.input :subject, label: "Email Subject"

      .row
        .col-md-12
          .form-group
            %label Message
            - f.object.body = default_email_text(:application_approval, @submission)
            = f.trix_editor :body

      .row
        .col-md-12
          %label Select Attachment(s)
          - emailable_attachments(submission).each do |attachment|
            .form-group
              = label_tag do
                = check_box_tag "notification_application_approval[attachments][]",
                  attachment, true
                = t("print_job.attachment_text.#{attachment}")

    .modal-footer
      = f.submit "Send", class: "btn btn-primary"
