.row
  %div{"data-example-id" => "togglable-tabs", :role => "tabpanel"}
    %ul#myTab.nav.nav-tabs.bar_tabs{:role => "tablist"}
      %li.active{:role => "presentation"}
        %a#owner-tab{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#tab_content1", :role => "tab"} Owners

      %li{:role => "agent"}
        %a#payment-tab{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab_content2", :role => "tab"} Agent

      %li{:role => "presentation"}
        %a#applications-tab{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab_content3", :role => "tab"} Application History

      %li{:role => "presentation"}
        %a#correspondence-tab{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab_contentDocuments", :role => "tab"} Documents

      %li{:role => "presentation"}
        %a#correspondence-tab{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab_content4", :role => "tab"} Correspondence

      %li{:role => "presentation"}
        %a#notes-tab{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab_content5", :role => "tab"} Notes

      %li{:role => "presentation"}
        %a#history-tab{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab_content6", :role => "tab"} Contacts

    #myTabContent.tab-content
      #tab_content1.tab-pane.fade.active.in{"aria-labelledby" => "owners-tab", :role => "tabpanel"}
        = render partial: "vessels/basic/tabs/owners", locals: { owners: @vessel.owners }

      #tab_content2.tab-pane.fade{"aria-labelledby" => "agent-tab", :role => "tabpanel"}
        = render partial: "vessels/basic/tabs/agent", locals: { agent: @vessel.agent }

      #tab_content3.tab-pane.fade.in{"aria-labelledby" => "applications-tab", :role => "tabpanel"}
        = render partial: "vessels/shared/tabs/submissions", locals: { vessel: @vessel }

      #tab_contentDocuments.tab-pane.fade.in{"aria-labelledby" => "documents-tab", :role => "tabpanel"}
        = render partial: "vessels/basic/tabs/documents", locals: { vessel: @vessel }

      #tab_content4.tab-pane.fade.in{"aria-labelledby" => "correspondence-tab", :role => "tabpanel"}
        = render partial: "shared/notification_list/base", locals: { notification_list: @vessel.notification_list }
        = render partial: "vessels/actions/add_correspondence", locals: { vessel: @vessel }

      #tab_content5.tab-pane.fade.in{"aria-labelledby" => "notes-tab", :role => "tabpanel"}
        = render partial: "vessels/shared/tabs/notes", locals: { vessel: @vessel }

      #tab_content6.tab-pane.fade.in{"aria-labelledby" => "history-tab", :role => "tabpanel"}
        = render partial: "vessels/basic/tabs/contacts", locals: { vessel: @vessel }
