%table.table.table-striped#documents
  %thead
    %th Date Document Received
    %th Uploaded Files
    %th Notes
    %th Added By
    %th
  %tbody
    - vessel.documents.each do |document|
      %tr
        %td{width: '15%'}
          = document.noted_at
        %td{width: '35%'}
          = render partial: "vessels/shared/tabs/document_assets", locals: {document: document}
        %td{width: '35%'}= link_to document.content
        %td.added_by{width: '15%'}
          = document.actioned_by
          on
          = document.created_at
