%h2 Mortgages
%table.table.table-striped
  %thead
    %th Priority Code
    %th Mortgage Type
    %th Reference Number
    %th Shares Mortgaged
    %th Mortgagor(s)
    %th Mortgagee(s)
    %th Date Executed
    %th Date Registered
    %th Date Discharged
    %th
  %tbody
    - @submission.mortgages.order("created_at asc").each_with_index do |mortgage, index|
      %tr{ class: ("strike" if mortgage.discharged_at?)}
        %td.priority= mortgage.priority_code
        %td.mortgage_type
          = link_to_unless @readonly,  mortgage.mortgage_type, "#",
            "data-target" => "#edit_mortgage_#{mortgage.id}",
            "data-toggle" => "modal"
        %td.reference_number= mortgage.reference_number
        %td.amount= mortgage.amount
        %td.mortgagors= mortgage.mortgagors.map(&:name).join(", ")
        %td.mortgagees= mortgage.mortgagees.map(&:name).join(", ")
        %td.executed_at= mortgage.executed_at.to_s(:date_time) if mortgage.executed_at
        %td.registered_at= mortgage.registered_at.to_s(:date_time) if mortgage.registered_at
        %td.discharged_at= mortgage.discharged_at.to_s(:date_time) if mortgage.discharged_at
        %td
          - if can_delete_mortgage?(mortgage)
            = link_to submission_mortgage_path(@submission, mortgage),
              class: 'btn-link pull-right',
              method: :delete,
              remote: true,
              data: { confirm: "Are you sure you want to remove this mortgage?" },
              style: 'color: red;' do
              %i.fa.fa-trash
              Remove

- unless @readonly
  .row
    .col-md-12
      = link_to '#', class: 'btn btn-primary',
        "data-target" => "#new_mortgage",
        "data-toggle" => "modal" do
        %i.fa.fa-plus
        Add Mortgage

  .modal.fade{id: "new_mortgage", role: "dialog", tabindex: "-1"}
    .modal-dialog.modal-lg
      .modal-content
        = simple_form_for Mortgage.new, method: :post, remote: true, url: submission_mortgages_path(@submission) do |mortgage_f|
          = hidden_field_tag "modal_id", "new_mortgage"
          .modal-header
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
            %h4.modal-title New Mortgage
          .modal-body
            = render partial: "submissions/extended/forms/mortgages/fields", locals: { mortgage_f: mortgage_f, submission: @submission }

          .modal-footer
            = mortgage_f.submit "Add Mortgage", class: "btn btn-primary"


  - @submission.mortgages.each do |mortgage|
    .modal.fade{id: "edit_mortgage_#{mortgage.id}", role: "dialog", tabindex: "-1"}
      .modal-dialog.modal-lg
        .modal-content
          = simple_form_for mortgage, method: :put, remote: true, url: submission_mortgage_path(@submission, mortgage) do |mortgage_f|
            = hidden_field_tag "modal_id", "new_mortgage"
            .modal-header
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"} ×
              %h4.modal-title Edit Mortgage
            .modal-body
              = render partial: "submissions/extended/forms/mortgages/fields", locals: { mortgage_f: mortgage_f, submission: @submission }

            .modal-footer
              = mortgage_f.submit "Save Mortgage", class: "btn btn-primary"
