.row
  .col-sm-6
    %h1{style: "margin-top: 0px !important;"}
      = DeprecableTask.new(@submission.task).description
      %small
        ID:
        = @submission.ref_no
  .col-sm-6
    .pull-right
      - PrintJob.where(submission: @submission).each do |print_job|
        = link_to print_job_path(print_job, format: :pdf),
          target: "_blank", class: "btn btn-warning" do
          %i.fa.fa-print{style: "font-size: 1.2em;"}
          = t("print_job.button_text.#{print_job.template}")

.row
  .col-md-12.col-sm-12.col-md-12
    .x_panel
      .x_title
        %h2
          Task Complete: #{@submission.registered_vessel}.
          Official Number:
          = link_to vessel_path(@submission.registered_vessel) do
            = @submission.vessel_reg_no
        .clearfix
      .x_content
        %p
          = t("submission.approval.confirmation.#{@submission.task}",
            part: Activity.new(@submission.part).to_s)

- if current_activity.registration_officer?
  .row.no-print
    .col-md-12
      = link_to tasks_my_tasks_path, class: "btn btn-info btn-lg" do
        %i.fa.fa-list-ol
        Return to My Tasks
      .pull-right

        - if display_csr_forms?(@submission) && DeprecableTask.new(@submission.task).builds_registry?
          = link_to vessel_csrs_path(@submission.registered_vessel),
            method: :post,
            class: 'btn btn-info btn-lg' do
            %i.fa.fa-cog
            Issue CSR

        = link_to tasks_next_task_path, class: 'btn btn-success btn-lg' do
          %i.fa.fa-arrow-circle-right{style: 'font-size: 1.2em; font-weight: bold;'}
          Process Next Task
