%h2 Bareboat Charter
%table.table.table-striped
  %thead
    %th{ width: "200" }
    %th
  %tbody
    - @submission.charterers.order("created_at desc").each_with_index do |charterer, index|
      %tr
        %td
          %h4.reference_number
            Reference Number:
            = charterer.reference_number
          .start_date
            Start Date:
            = charterer.start_date
          .end_date
            End Date:
            = charterer.end_date

          - unless @readonly
            = link_to_unless @readonly, "Edit", "#",
              class: "btn btn-primary btn-sm",
              "data-target" => "#edit_charterer_#{charterer.id}",
              "data-toggle" => "modal"

            = link_to submission_charterer_path(@submission, charterer),
              class: 'btn-link',
              method: :delete,
              remote: true,
              data: { confirm: "Are you sure you want to remove this Bareboat Charter?" },
              style: 'color: red;' do
              %i.fa.fa-trash
              Remove
        %td.parties
          %h4 Individual Parties to the Bareboat Charter
          %table.table.table-striped
            %thead
              %th Name
              %th Address
              %th Nationality
              %th Status
              %th Declaration
              %th
            %tbody
              - charterer.charter_parties.individual.each do |charter_party|
                %tr
                  %td.name
                    = link_to_unless @readonly, charter_party.name, "#",
                      data: { target: "#charter_party_#{charter_party.id}", toggle: "modal" }
                  %td.address= charter_party.inline_address
                  %td.nationality= charter_party.nationality
                  %td.status
                    = charter_party.eligibility_status.try(:titleize)
                  %td.declaration #{ charter_party.declaration_signed ? 'Declaration Signed' : 'Pending Declaration' }
                  %td.remove-charter-party
                    - unless @readonly
                      = link_to submission_charterer_charter_party_path(@submission, charterer, charter_party),
                        class: 'btn-link pull-right',
                        method: :delete,
                        remote: true,
                        data: { confirm: "Are you sure you want to remove this charter party?" },
                        style: 'color: red;' do
                        %i.fa.fa-trash
                        Remove

          - unless @readonly
            .row
              .col-md-12
                = link_to '#', class: 'btn btn-primary btn-sm',
                  "data-target" => "#new_charter_party_individual",
                  "data-toggle" => "modal" do
                  %i.fa.fa-plus
                  Add Individual Party to the Charter

          %hr
          %h4 Corporate Parties to the Bareboat Charter
          %table.table.table-striped
            %thead
              %th Name
              %th Registered Office
              %th Country of Incorporation
              %th Place of Business
              %th Status
              %th Declaration
              %th
            %tbody
              - charterer.charter_parties.corporate.each do |charter_party|
                %tr
                  %td.name
                    = link_to_unless @readonly, charter_party.name, "#",
                      data: { target: "#charter_party_#{charter_party.id}", toggle: "modal" }
                  %td.address= charter_party.inline_address
                  %td.country_of_incorporation= charter_party.nationality
                  %td.place_of_business= charter_party.alt_inline_address
                  %td.status
                    = charter_party.eligibility_status.try(:titleize)
                  %td #{ charter_party.declaration_signed ? 'Declaration Signed' : 'Pending Declaration' }
                  %td.remove-charter-party
                    - unless @readonly
                      = link_to submission_charterer_charter_party_path(@submission, charterer, charter_party),
                        class: 'btn-link pull-right',
                        method: :delete,
                        remote: true,
                        data: { confirm: "Are you sure you want to remove this charter party?" },
                        style: 'color: red;' do
                        %i.fa.fa-trash
                        Remove

          - unless @readonly
            .row
              .col-md-12
                = link_to '#', class: 'btn btn-primary btn-sm',
                  "data-target" => "#new_charter_party_corporate",
                  "data-toggle" => "modal" do
                  %i.fa.fa-plus
                  Add Corporate Party to the Charter

- unless @readonly
  .row
    .col-md-12
      = link_to '#', class: 'btn btn-primary',
        "data-target" => "#new_charterer",
        "data-toggle" => "modal" do
        %i.fa.fa-plus
        Add Bareboat Charter

  .modal.fade{id: "new_charterer", role: "dialog", tabindex: "-1"}
    .modal-dialog.modal-lg
      .modal-content
        = simple_form_for Charterer.new, method: :post, remote: true, url: submission_charterers_path(@submission) do |charterer_f|
          = hidden_field_tag "modal_id", "new_charterer"
          .modal-header
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
            %h4.modal-title New Bareboat Charter
          .modal-body
            = render partial: "submissions/extended/forms/charterers/fields", locals: { charterer_f: charterer_f }

          .modal-footer
            = charterer_f.submit "Add Bareboat Charter", class: "btn btn-primary"


  - @submission.charterers.each do |charterer|
    .modal.fade{id: "edit_charterer_#{charterer.id}", role: "dialog", tabindex: "-1"}
      .modal-dialog.modal-lg
        .modal-content
          = simple_form_for charterer, method: :put, remote: true, url: submission_charterer_path(@submission, charterer) do |charterer_f|
            = hidden_field_tag "modal_id", "new_charterer"
            .modal-header
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"} ×
              %h4.modal-title Edit Bareboat Charter
            .modal-body
              = render partial: "submissions/extended/forms/charterers/fields", locals: { charterer_f: charterer_f }

            .modal-footer
              = charterer_f.submit "Save Bareboat Charter", class: "btn btn-primary"

    - charterer.charter_parties.each do |charter_party|
      = render partial: "/submissions/extended/forms/charterers/edit",
        locals: { charterer: charterer, charter_party: charter_party }

    = render partial: "/submissions/extended/forms/charterers/new",
      locals: { charterer: charterer, modal_id: "new_charter_party_individual" }

    = render partial: "/submissions/extended/forms/charterers/new",
      locals: { charterer: charterer, modal_id: "new_charter_party_corporate" }

