= render partial: "submissions/info/breadcrumbs", locals: { submission: @submission }
= render partial: "submissions/info/heading", locals: { submission: @submission }

- if @name_validated
  .alert.bg-success.text-center.name-validated
    %h3
      %i.fa.fa-check
      The name #{@name_approval.name} is available in #{@name_approval.port_name}.
- else
  = render partial: "submissions/info/summary", locals: { submission: @submission }

= simple_form_for @name_approval, url: submission_name_approval_path(@submission), method: :patch do |f|
  = f.input :part, as: :hidden

  - if @name_validated
    = hidden_field_tag "name_validated", "1"

  .x_panel
    .x_title
      %h2 Name Approval Process
      .clearfix
    .x_content
      .row{style: 'padding-bottom: 15px;'}
        .col-md-3.approval_name
          = f.input :name,
            label: "Approved Vessel Name",
            input_html: { class: "upcase" },
            required: false

        .col-md-3
          = f.input :registration_type, as: :select,
            collection: registration_types_collection,
            label: "Registration Type",
            include_blank: false,
            input_html: { class: "select2 select2_single" }

        .col-md-3
          = f.input :port_code, as: :select,
          collection: ports_collection,
          label: "Port of Choice",
          include_blank: false,
          input_html: { class: "select2 select2_single searchable" }

        .col-md-3.approval_port-no
          = f.input :port_no,
            as: :feedback,
            feedback_label: f.object.port_code || "A",
            placement: :left,
            hint: "leave blank for system-generated port number",
            label: "Port Number",
            required: false

- if @submission.actionable? && @submission.claimant == current_user
  - content_for(:submission_save_buttons) do
    - if @name_validated
      = render partial: "submission/name_approvals/actions/validated"
    - else
      = render partial: "submission/name_approvals/actions/not_validated"

= render partial: "submissions/actions/base",
  locals: { submission: @submission }
