%h2 Certificates & Documents
%table.table.table-striped
  %thead
    %th Type
    %th Issuing Authority
    %th Date Received
    %th Date of Expiry
    %th Notes
    %th Attachment(s)
    %th
  %tbody
    - @submission.documents.order("created_at desc").each do |document|
      %tr
        %td.entity_type
          = link_to_unless @readonly, document.entity_type_name, "#",
            "data-target" => "#edit_document_#{document.id}",
            "data-toggle" => "modal"
        %td.issuing_authority= document.issuing_authority
        %td.noted_at= document.noted_at
        %td.expires_at= document.expires_at
        %td.notes= document.content
        %td
          - asset = document.asset
          - if asset && asset.file.exists?
            %i.fa.fa-file-pdf-o
            = link_to asset.file_file_name, azure_private_asset_url(asset) , target: "_blank"
          - if asset && @readonly
            = render partial: "submissions/actions/remove_asset",
              locals: {asset: asset}
        %td.remove-document
          - unless @readonly
            = link_to submission_document_path(@submission, document, task_id: @task.id),
                class: 'btn-link pull-right',
                method: :delete,
                remote: :true,
                data: { confirm: "Are you sure you want to remove this document?" }, style: 'color: red;' do
              %i.fa.fa-trash
              Remove

- unless @readonly
  .row
    .col-md-12
      = link_to '#', class: 'btn btn-primary',
        "data-target" => "#new_document",
        "data-toggle" => "modal" do
        %i.fa.fa-plus
        Add Certificate/Document

  .modal.fade{id: "new_document", role: "dialog", tabindex: "-1"}
    .modal-dialog.modal-lg
      .modal-content
        - document = Document.build(1)
        - document.noted_at = Time.zone.today
        = simple_form_for document,
          method: :post,
          remote: true,
          multipart: true,
          url: submission_documents_path(@submission, task_id: @task.id) do |document_f|
          = hidden_field_tag "modal_id", "new_document"
          .modal-header
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
            %h4.modal-title New Certificate/Document
          .modal-body
            = render partial: "submissions/extended/forms/documents/fields", locals: { document_f: document_f }

          .modal-footer
            = document_f.submit "Save Certificate/Document", class: "btn btn-primary"

  - @submission.documents.each do |document|
    .modal.fade{id: "edit_document_#{document.id}", role: "dialog", tabindex: "-1"}
      .modal-dialog.modal-lg
        .modal-content
          = simple_form_for document,
            method: :put,
            remote: true,
            multipart: true,
            url: submission_document_path(@submission, document, task_id: @task.id) do |document_f|
            = hidden_field_tag "modal_id", "new_document"
            .modal-header
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"} ×
              %h4.modal-title Edit Certificate/Document
            .modal-body
              = render partial: "submissions/extended/forms/documents/fields", locals: { document_f: document_f }

            .modal-footer
              = document_f.submit "Save Certificate/Document", class: "btn btn-primary"
