%table
  %thead
    %tr
      %th{:colspan => "2"} Owner details
  %tbody
    %tr
      %td Full Name
      %td= @owner.full_name_with_title
    %tr
      %td= t('simple_form.labels.owner_info.nationality')
      %td= country_name_from_code(@owner.nationality)
    %tr
      %td= t('simple_form.labels.owner_info.address_1')
      %td= @owner.address_1
    - unless @owner.address_2.blank?
      %tr
        %td
        %td= @owner.address_2
    - unless @owner.address_3.blank?
      %tr
        %td
        %td= @owner.address_3
    %tr
      %td= t('simple_form.labels.owner_info.town')
      %td= @owner.town
    - unless @owner.county.blank?
      %tr
        %td= t('simple_form.labels.owner_info.county')
        %td= @owner.county
    %tr
      %td= t('simple_form.labels.owner_info.postcode')
      %td= @owner.postcode
    %tr
      %td Address country
      %td= @owner.country
    %tr
      %td= t('simple_form.labels.owner_info.email')
      %td= @owner.email
    %tr
      %td= t('simple_form.labels.owner_info.phone_number')
      %td= @owner.phone_number
