.grid-row
  .column-two-thirds
    %h1.heading-xlarge= t("registration.title")
    %h3.heading-medium= t("declaration.form.title")
    %p= t("declaration.form.warning")
    = simple_form_for @declaration, url: declaration_path,method: :put do |f|
      %legend.visuallyhidden
        = t("declaration.form.title")
      - if f.error_notification
        .error-summary{"aria-labelledby" => "error-summary-heading", :role => "group", :tabindex => "-1"}
          %h1#error-summary-heading.heading-medium.error-summary-heading
            = f.error_notification
          %p= t("registration.error_description")
      %p
        = render partial: "vessel_info"
        %br/
        = render partial: "owner_info"
      %br/
      %p= t("declaration.form.prompt")
      %div{:class => "form-group#{" error" if f.error_notification}"}
        = f.input :eligible_under_regulation_89, as: :boolean, wrapper: false, label_html: {class: "block-label"}
        = f.input :eligible_under_regulation_90, as: :boolean, wrapper: false, label_html: {class: "block-label"}
        = f.input :understands_false_statement_is_offence, as: :boolean, wrapper: false, label_html: {class: "block-label"}
      = f.button :submit, "Continue", class: "button"
