%table.table.table-striped#agent
  %thead
    %th Agent

    - if @task.display_registry_info?
      %th Current Information

    - if @submission.display_changeset?
      %th Submitted Information
  %tbody
    %tr
      %td{width: "20%"} Agent Name

      - if @task.display_registry_info?
        %td.registry-agent-name{width: "40%"}
          = @submission.registered_agent.name

      %td.agent-name
        %strong= agent.name

    %tr
      %td{width: "20%"} Agent Email

      - if @task.display_registry_info?
        %td.registry-agent-email{width: "40%"}
          = @submission.registered_agent.email

      %td.agent-email
        %strong= agent.email

    %tr
      %td Agent Phone Number

      - if @task.display_registry_info?
        %td= @submission.registered_agent.phone_number

      %td.agent-phone_number
        %strong= agent.phone_number


