%table.table.table-striped#documents
  %thead
    %th Date Document Received
    %th Uploaded Files
    %th Notes
    %th Added By
    %th
  %tbody
    - documents.each do |document|
      %tr
        %td{width: '15%'}
          = document.noted_at
        %td{width: '35%'}
          - document.assets.each do |asset|
            - if asset.file.exists?
              %i.fa.fa-file-pdf-o
              = link_to asset.file_file_name, azure_private_asset_url(asset)
              %br
        %td{width: '35%'}= link_to document.content
        %td.added_by{width: '15%'}
          = document.actioned_by
          on
          = document.created_at
        %td{nowrap: "nowrap"}
          - unless @readonly
            = link_to submission_document_path(@submission, document),
              class: 'btn-link pull-right',
              method: :delete,
              data: { confirm: "Are you sure you want to remove this charter party?" },
              style: 'color: red;' do
              %i.fa.fa-trash
              Remove

= render partial: "submissions/actions/add_document", locals: { submission: @submission }
= render partial: "submissions/modals/add_document", locals: { submission: @submission }
