%h2 Owners
%table.table.table-striped
  %thead
    %th Name
    %th Email
    %th Phone
    %th Nationality
    %th Address
    %th Declaration
  %tbody
    - @submission.declarations.each do |declaration|
      - owner = declaration.owner
      %tr
        %td.owner-name= owner
        %td.owner-email= owner.email
        %td.owner-phone_number= owner.phone_number
        %td.owner-nationality= owner.nationality
        %td.owner-address= owner.inline_address
        %td.declaration-status
          = render partial: "declarations/status", locals: { declaration: declaration}
    - if @task.display_registry_info?
      - @submission.removed_registered_owners.each do |owner|
        %tr
          %td.owner-name.strike= owner
          %td.strike= owner.email
          %td.strike= owner.phone_number
          %td.strike= owner.nationality
          %td.strike= owner.inline_address
          %td n/a
