%table.table.table-striped
  %thead
    %th Supporting Info
    %th
  %tbody
    - @closure = @submission.closure

    - if @closure.reason.present?
      %tr
        %td Closure reason
        %td.closure-reason= @closure.reason.humanize

    - if @closure.other_reason.present?
      %tr
        %td Other reason
        %td.closure-other_reason= @closure.other_reason

    - if @closure.actioned_at.present?
      %tr
        %td Date
        %td.closure-actioned_at= @closure.actioned_at

    - if @closure.destruction_method.present?
      %tr
        %td Destruction method
        %td.closure-destruction_method= @closure.destruction_method

    - if @closure.new_owner_name.present?
      %tr
        %td New owner name
        %td.closure-new_owner_name= @closure.new_owner_name

    - if @closure.new_owner_email.present?
      %tr
        %td New owner email
        %td.closure-new_owner_email= @closure.new_owner_email

    - if @closure.new_owner_phone_number.present?
      %tr
        %td New owner phone
        %td.closure-new_owner_phone= @closure.new_owner_phone_number

    - if @closure.new_flag.present?
      %tr
        %td New country of registry
        %td.closure-new_flag= @closure.new_flag

    - if @closure.new_flag_reason.present?
      %tr
        %td Reason for move
        %td.closure-new_flag_reason= @closure.new_flag_reason
