- registered_vessel = @submission.registered_vessel || Register::Vessel.new
%table.table.table-striped.table-fluid.submission-vessel
  %thead
    %th Vessel Details

    - if @task.display_registry_info?
      %th Current Information

    - if @task.display_changeset?
      %th Submitted Information
  %tbody
    %tr
      %td{width: "30%"} Vessel Name

      - if @task.display_registry_info?
        %td#registry-vessel-name{width: "30%"}= registered_vessel.name

      - if @task.display_changeset?
        %td#vessel-name
          %strong
            - if @submission.uneditable?
              = vessel.name
            - else
              = compare_reg_info vessel.name, registered_vessel.name
            .i.fa.fa-star-o.hidden
          .pull-right
            = vessel.alt_names.join(', ')
    %tr
      %td Hull Identification Number (HIN)

      - if @task.display_registry_info?
        %td= registered_vessel.hin

      - if @task.display_changeset?
        %td#vessel-hin
          %strong
            - if @submission.uneditable?
              = vessel.hin
            - else
              = compare_reg_info vessel.hin, registered_vessel.hin
            .i.fa.fa-star-o.hidden
    %tr
      %td Make and model

      - if @task.display_registry_info?
        %td= registered_vessel.make_and_model

      - if @task.display_changeset?
        %td#vessel-make_and_model
          %strong
            - if @submission.uneditable?
              = vessel.make_and_model
            - else
              = compare_reg_info vessel.make_and_model, registered_vessel.make_and_model
    %tr
      %td Length

      - if @task.display_registry_info?
        %td= registered_vessel.length_in_meters

      - if @task.display_changeset?
        %td#vessel-length_in_meters
          %strong
            - if @submission.uneditable?
              = vessel.length_in_meters
            - else
            = compare_reg_info vessel.length_in_meters, registered_vessel.length_in_meters
    %tr
      %td Number of hulls

      - if @task.display_registry_info?
        %td= registered_vessel.number_of_hulls

      - if @task.display_changeset?
        %td#vessel-number_of_hulls
          %strong
            - if @submission.uneditable?
              = vessel.number_of_hulls
            - else
              = compare_reg_info vessel.number_of_hulls, registered_vessel.number_of_hulls
    %tr
      %td Vessel type

      - if @task.display_registry_info?
        %td= registered_vessel.vessel_type

      - if @task.display_changeset?
        %td#vessel-vessel_type
          %strong
            - if @submission.uneditable?
              = vessel.vessel_type
            - else
              = compare_reg_info vessel.vessel_type, registered_vessel.vessel_type
    %tr
      %td Vessel type (other)

      - if @task.display_registry_info?
        %td n/a

      - if @task.display_changeset?
        %td#vessel-vessel_type_other
          %strong

            - if @submission.uneditable?
              = vessel.vessel_type_other
            - else
              = compare_reg_info vessel.vessel_type_other, registered_vessel.vessel_type
    %tr
      %td MMSI Number

      - if @task.display_registry_info?
        %td= registered_vessel.mmsi_number

      - if @task.display_changeset?
        %td#vessel-mmsi_number
          %strong
            - if @submission.uneditable?
              = vessel.mmsi_number
            - else
              = compare_reg_info vessel.mmsi_number, registered_vessel.mmsi_number
            .i.fa.fa-star-o.hidden
    %tr
      %td Radio Call Sign

      - if @task.display_registry_info?
        %td= registered_vessel.radio_call_sign

      - if @task.display_changeset?
        %td#vessel-radio_call_sign
          %strong
            - if @submission.uneditable?
              = vessel.radio_call_sign
            - else
              = compare_reg_info vessel.radio_call_sign, registered_vessel.radio_call_sign
            .i.fa.fa-star-o.hidden
