- loggable = work_log.loggable
- submission = loggable.try(:submission)
%tr
  %td= work_log.created_at.in_time_zone.to_s(:date_time)
  %td= Activity.new(work_log.part)

  %td
    - if submission
      = link_to submission_path(submission) do
        = "#{ApplicationType.new(submission.application_type).description}: "
        = submission.ref_no
  %td
    - if loggable.is_a?(Submission::Task)
      = link_to submission_task_path(loggable.submission, loggable) do
        = "#{loggable.service}: #{loggable.ref_no}"
  %td.description= work_log.description.humanize
  %td= work_log.actioned_by
