%table.table.table-striped.table-hover
  %thead
    %tr
      %th Vessel Name
      %th Official Number
      %th Registration Type
      %th Type of Vessel
      %th Port
      %th Port Number
      %th
  %tbody
    - @vessels.each do |vessel|
      %tr
        %td= link_to vessel, vessel_path(vessel)
        %td= vessel.reg_no
        %td= vessel.registration_type.titleize if vessel.registration_type
        %td= vessel.vessel_type
        %td= WavesUtilities::Port.new(vessel.port_code).name if vessel.port_code
        %td= vessel.port_no
        %td
          .pull-right= render partial: "/shared/registration_status", locals: { registration_status: vessel.registration_status }
