.row
  .col-md-12
    %h1 Task Processing

.row
  .col-md-12
    %table.table.table-striped.table-bordered
      %thead
        %th Task
        %th Payment Required
        %th Print/Email Certificate of Registry
        %th Generate new 5-year Registration
        %th Update Registry Details
        %th Print/Email Current Transcript
        %th Print/Email Historic Transcript
        %th Email on Application Approval
        %th Can be Referred
        %th Print Job Templates
        %th Part I
        %th Part II
        %th Part III
        %th Part IV
      %tbody
        - unless @tasks.empty?
          - part_1_keys = Activity.new(:part_1).task_types.map{ |el| el[1] }
          - part_2_keys = Activity.new(:part_2).task_types.map{ |el| el[1] }
          - part_3_keys = Activity.new(:part_3).task_types.map{ |el| el[1] }
          - part_4_keys = Activity.new(:part_4).task_types.map{ |el| el[1] }

        - @tasks.each do |task|
          %tr
            %td= task.description
            %td= y_n(task.payment_required?)
            %td= y_n(task.prints_certificate?)
            %td= y_n(task.builds_registration?)
            %td= y_n(task.builds_registry?)
            %td= y_n(task.prints_current_transcript?)
            %td= y_n(task.prints_historic_transcript?)
            %td= y_n(task.emails_application_approval?)
            %td= y_n(task.referrable?)
            %td= (task.print_job_templates || []).map { |t| t.to_s.titleize }.join(", ")
            %td= y_n(part_1_keys.include?(task.key))
            %td= y_n(part_2_keys.include?(task.key))
            %td= y_n(part_3_keys.include?(task.key))
            %td= y_n(part_4_keys.include?(task.key))
