.row
  %h1.heading_no_top_margin
    Print Queue: Certificates of Registry

.row
  .col-md-12
    .x_panel
      %table#print_queue.table.table-striped.table-hover
        %thead
          %tr
            %th Vessel
            %th Offical Number
            %th
              = link_to print_queue_certificates_path(format: :pdf), class: "btn btn-primary" do
                %i.fa.fa-print
                Print Certificates of Registry
            %th
              = link_to '#', class: 'btn btn-primary' do
                %i.fa.fa-print
                Print Cover Letters

        - @submissions.each do |submission|
          %tbody
            %td= submission.registered_vessel
            %td= submission.registered_vessel.reg_no
            %td.certificate
              - if submission.registration_certificate_printed?
                = css_tick(true)
            %td.cover-letter
              - if submission.cover_letter_printed?
                = css_tick(true)
