.row
  %h1.heading_no_top_margin
    Print Queue: Certificates of Registry

.row
  .col-md-12
    - if @submissions.empty?
      .x_panel
        .x_panel
          .x_content
            %h2.text-center
              There are no items in this queue
    - else
      %table#print_queue.table.table-striped.table-hover
        %thead
          %tr
            %th Vessel
            %th Offical Number
            %th.text-center
              = link_to print_queue_certificates_path(format: :pdf), target: "_blank", class: "btn btn-primary" do
                %i.fa.fa-print
                Print Certificates of Registry
            %th.text-center
              = link_to print_queue_cover_letters_path(format: :pdf), target: "_blank", class: 'btn btn-primary' do
                %i.fa.fa-print
                Print Cover Letters
            %th Proccessed by

        - @submissions.each do |submission|
          %tbody
            %td= submission.registered_vessel
            %td= submission.registered_vessel.reg_no
            %td.certificate.text-center
              - if submission.printed?(:registration_certificate)
                = "Printed: #{ submission.print_jobs["registration_certificate"].in_time_zone.to_s(:date_time) }"
              - else
                = link_to registration_certificate_path(submission.registration, format: :pdf), target: "_blank" do
                  %i.fa.fa-print
                  Print

            %td.cover-letter.text-center
              - if submission.printed?(:cover_letter)
                = "Printed: #{ submission.print_jobs["cover_letter"].in_time_zone.to_s(:date_time) }"
              - else
                = link_to registration_cover_letter_path(submission.registration, format: :pdf), target: "_blank" do
                  %i.fa.fa-print
                  Print
            %td= submission.claimant
