%p
  Thank you for your application regarding the vessel #{@vessel_name} on #{part_of_register}. Please be aware that your application may take up to 10 working days to process, unless a premium service was applied for, in which case it may take up to 3 working days to process.
  %strong Please note that the premium service is only available for services that incur a fee.

%p Please make a note of the Application Reference Number detailed below:

%p Application Reference No: #{@submission_ref_no}

%p When your application has been processed we will confirm this to you by email.

%p If you do not receive an email within the above mentioned timeframe from #{Date.today}, please contact #{contact_us_for_part}.

%p
  #{quote_ref_no}
