#registered-until= @vessel.registered_until
#reg_no= @vessel.reg_no

#vessel-details
  .detail
    .label Description :
    .attr_value= @vessel.vessel_type.upcase
  .detail
    .label Overall Length :
    .attr_value= "#{@vessel.length_in_meters}m"
  .detail
    .label Number of Hulls :
    .attr_value= @vessel.number_of_hulls
  .detail
    .label Name of Ship :
    .attr_value= @vessel.vessel_type.upcase
  .detail
    .label Hull ID Number :
    .attr_value= @vessel.hin

#owners
  - @vessel.owners.each do |owner|
    .owner-name
      = owner

#registration-date
  = @vessel.registered_at
