.row
  .col-md-12
    .x_panel
      .x_content
        .row
          .col-md-4
            = f.input :payment_date, as: :string, label: "Fee Receipt Date", input_html: { "data-provide" => "datepicker", "data-date-autoclose" => "true", "data-date-format" => "dd/mm/yyyy"}
          .col-md-4
            = f.input :application_ref_no, label: "Application Reference No. <span style='font-weight: normal !important;'>(if known)</span>".html_safe, input_html: { class: "upcase" }
        .row
          .col-md-4
            = f.input :part, collection: parts_collection, as: :select, include_blank: false, input_html: { class: "select2 select2_single" }
          .col-md-4
            = f.input :application_type, collection: ApplicationType.fee_entry, as: :select, include_blank: false, input_html: { class: "select2 select2_single" }
        .row
          .col-md-4
            = f.input :vessel_reg_no, label: "Official Number <span style='font-weight: normal !important;'>(if known)</span>".html_safe, input_html: { class: "upcase" }
          .col-md-4
            = f.input :vessel_name, label: "Vessel Name <span style='font-weight: normal !important;'>(if known)</span>".html_safe, input_html: { class: "upcase" }
        .row
          .col-md-4
            = f.input :payer_name, input_html: { class: "upcase" }
          .col-md-2
            = f.input :payment_type, collection: Payment::FinancePayment::PAYMENT_TYPES, as: :select, include_blank: false, input_html: { class: "select2 select2_single" }
          .col-md-2
            = f.input :payment_amount, as: :currency
        .row
          .col-md-4
            = f.input :applicant_name, input_html: { class: "upcase" }
          .col-md-4
            = f.input :applicant_email
        .row
          .col-md-8
            .form-group
              %label
                %input{name: "payment_finance_payment[applicant_is_agent]", value: "1", type: "checkbox"}
                Applicant is Agent
        .row
          .col-md-4
            = f.input :service_level, collection: service_level_collection, as: :select, include_blank: false, input_html: { class: "select2 select2_single" }
        .row
          .col-md-8
            = f.input :documents_received
