%table.table.table-striped#finance_payment
  %tbody
    %tr
      %td{width: '50%'} Fee Receipt Date
      %td
        %strong= finance_payment.payment_date
    %tr
      %td Application Reference No.
      %td
        %strong= finance_payment.application_ref_no
    %tr
      %td Part of the Register
      %td
        %strong= finance_payment.part_description
    %tr
      %td Application Type
      %td
        %strong= finance_payment.application_type_description
    %tr
      %td Official Number
      %td
        %strong= finance_payment.vessel_reg_no
    %tr
      %td Vessel Name
      %td
        %strong= finance_payment.vessel_name
    %tr
      %td Payer Name
      %td
        %strong= finance_payment.payer_name
    %tr
      %td Payment Type
      %td
        %strong= finance_payment.payment_type_description
    %tr
      %td Fee Amount
      %td
        %strong= formatted_amount(finance_payment.payment_amount)
    %tr
      %td Applicant Name
      %td
        %strong
          = finance_payment.applicant_name
          = "(Agent)" if finance_payment.applicant_is_agent
    %tr
      %td Applicant`s Email Address
      %td
        %strong= finance_payment.applicant_email
    %tr
      %td Service Level
      %td
        %strong= finance_payment.service_level.try(:titleize)
    %tr
      %td Documents Received
      %td#documents-received
        %strong= finance_payment.documents_received
    %tr
      %td{colspan: 2}
        = link_to finance_payment_path(finance_payment, format: :pdf),
          target: "_blank", class: "btn btn-primary btn-sm" do
          %i.fa.fa-print
          Print Payment Receipt
