%table.table.table-striped#finance_payment
  %tbody
    %tr
      %td{width: '50%'} Fee Receipt Date
      %td
        %strong= finance_payment.payment_date
    %tr
      %td Part of the Register
      %td
        %strong= finance_payment.part_description
    %tr
      %td Application Type
      %td
        %strong= finance_payment.task_description
    %tr
      %td Official No.
      %td
        %strong= finance_payment.vessel_reg_no
    %tr
      %td Vessel Name
      %td
        %strong= finance_payment.vessel_name
    %tr
      %td Payment Type
      %td
        %strong= finance_payment.payment_type_description
    %tr
      %td Fee Amount
      %td
        %strong= finance_payment.formatted_payment_amount
    %tr
      %td Applicant Name
      %td
        %strong= finance_payment.applicant_name
    %tr
      %td Applicant`s Email Address
      %td
        %strong= finance_payment.applicant_email
    %tr
      %td Documents Received
      %td
        %strong= finance_payment.documents_received
