= render partial: "/finance/payments/heading"

.row
  .col-md-12
    .x_panel
      .x_content
        %table#finance-payments.table.table-striped.table-hover
          %thead
            %tr
              %th Fee Receipt Date
              %th Application Type
              %th Part of Register
              %th Payer Name
              %th Payment Type
              %th Service Level
              %th.text-right Fee Amount
          %tbody
          - @finance_payments.each do |finance_payment|
            - finance_payment = Decorators::FinancePayment.new(finance_payment)
            %tr.finance-payment
              %td
                = link_to finance_batch_payment_path(@batch, finance_payment) do
                  = finance_payment.payment_date
              %td= finance_payment.application_type_description
              %td= finance_payment.part_description
              %td= finance_payment.payer_name
              %td= finance_payment.payment_type_description
              %td= finance_payment.service_level.try(:titleize)
              %td.text-right
                - if @batch.locked?
                  = formatted_amount(finance_payment.payment_amount)
                - else
                  = link_to edit_finance_batch_payment_path(@batch, finance_payment) do
                    = formatted_amount(finance_payment.payment_amount)
                    %i.fa.fa-pencil-square-o
          %tr
            %td{colspan: 6}
            %td.thick.text-right
              TOTAL:
              = formatted_amount(@batch.total_amount)

= render partial: "/finance/batches/actions", locals: { batch: @batch }
