%table.table.table-striped.table-fluid.registration
  %thead
    %th Vessel Details
    %th Submitted Information
  %tbody
    %tr
      %td{width: '30%'} Vessel Name
      %td{width: '70%'}
        %a#vessel-name-options{"data-placement" => "bottom", "data-title" => "Select vessel name", "data-type" => "select", :href => "#"}
          %strong= vessel_info[:name]
    %tr
      %td Hull Identification Number (HIN)
      %td
        %a#vessel-hin{"data-placement" => "bottom", "data-title" => "Hull Identification Number (HIN)", "data-type" => "text", :href => "#"}
          %strong= vessel_info[:hin]
    %tr
      %td Make and model
      %td
        %a#vessel-make{"data-placement" => "bottom", "data-title" => "Make and model", "data-type" => "text", :href => "#"}
          %strong= vessel_info[:make_and_model]
    %tr
      %td Length
      %td
        %a#vessel-length{"data-placement" => "bottom", "data-title" => "Length", "data-type" => "text", :href => "#"}
          %strong= number_with_precision(vessel_info[:length_in_centimeters], precision: 2)
    %tr
      %td Number of hulls
      %td
        %a#vessel-hulls{"data-placement" => "bottom", "data-title" => "Number of hulls", "data-type" => "select", :href => "#"}
          %strong= vessel_info[:number_of_hulls]
    %tr
      %td Vessel type
      %td
        %a#vessel-type{"data-placement" => "bottom", "data-title" => "Vessel Type", "data-type" => "select", :href => "#"}
          %strong= @registration.vessel_type

    %tr
      %td MMSI Number
      %td
        %a#vessel-mmsi{"data-placement" => "bottom", "data-title" => "MMSI Number", "data-type" => "text", :href => "#"}
          %strong= vessel_info[:mmsi_number]
    %tr
      %td Radio Call Sign
      %td
        %a#vessel-callsign{"data-placement" => "bottom", "data-title" => "Radio Call Sign", "data-type" => "text", :href => "#"}
          %strong= vessel_info[:radio_call_sign]
