= simple_form_for @submission do |f|
  .row
    .col-md-12
      .x_panel
        .x_title
          %h4 Task Details
          .clearfix
        .x_content
          .row
            .col-md-3
              = f.input :part, collection: Activity::PART_TYPES, as: :select, include_blank: false, input_html: { class: "select2 select2_single" }, required: false
            .col-md-3
              = f.input :task, collection: Task::TASK_TYPES, as: :select, include_blank: false, input_html: { class: "select2 select2_single" }, required: false
            .col-md-3
              = f.simple_fields_for :vessel do |vessel_f|
                - vessel_f.object = f.object.vessel
                = vessel_f.input :reg_no, input_html: { class: "upcase" }, required: false
            .col-md-3

  = render partial: "submissions/forms/vessel_fields", locals: { submission_f: f }

  = f.simple_fields_for :declarations do |declaration_f|
    = render partial: "submissions/forms/declaration_fields", locals: { declaration_f: declaration_f }

  .row
    .col-md-12
      = link_to "#", class: "btn btn-primary" do
        %i.fa.fa-plus
        Add Individual Owner

  .row.no-print
    .col-md-12
      = button_tag(type: 'submit', class: "btn btn-primary btn-lg pull-right") do
        %i.fa.fa-check
        Save Application
