= simple_form_for @submission, class: "form-vertical" do |f|
  .row
    .col-md-12
      .x_panel
        .x_title
          %h2 Edit Application
          .clearfix
        .x_content
          %div{"data-example-id" => "togglable-tabs", :role => "tabpanel"}
            %ul#myTab.nav.nav-tabs.bar_tabs{:role => "tablist"}

              %li{:role => "presentation", class: "active"}
                %a#vessel-tab{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#vessel_tab", :role => "tab"} Vessel Details

              %li{:role => "presentation"}
                %a#owner-tab{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#owners_tab", :role => "tab"} Owners

            #myTabContent.tab-content

              #vessel_tab.tab-pane.fade.in{class: "active", "aria-labelledby" => "vessel-tab", :role => "tabpanel"}
                = render partial: "submissions/forms/vessel_fields", locals: { submission_f: f }

              #owners_tab.tab-pane.fade.in{"aria-labelledby" => "owner-tab", :role => "tabpanel"}
                #owners_list= render partial: "submissions/forms/owners/list", locals: { submission_f: f }

  .row.no-print
    .col-sm-12
      = button_tag(type: 'submit', class: "btn btn-primary btn-lg pull-right") do
        %i.fa.fa-check
        Save Application

#owners_modals
  = render partial: "/submissions/forms/owners/modals"
