= simple_form_for @submission, class: "form-vertical" do |f|
  .row
    .col-md-12
      .x_panel
        .x_title
          %h2 Edit Application
          .clearfix
        .x_content
          %div{"data-example-id" => "togglable-tabs", :role => "tabpanel"}
            %ul#myTab.nav.nav-tabs.bar_tabs{:role => "tablist"}
              %li.active{:role => "presentation"}
                %a#vessel-tab{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#tab_content1", :role => "tab"} Vessel Details
              %li{:role => "presentation"}
                %a#owner-tab{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab_content2", :role => "tab"} Owners
              %li{:role => "presentation"}
                %a#applicant-tab{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab_content3", :role => "tab"} Applicant

            #myTabContent.tab-content

              #tab_content1.tab-pane.fade.active.in{"aria-labelledby" => "vessel-tab", :role => "tabpanel"}
                = render partial: "submissions/forms/vessel_fields", locals: { submission_f: f }

              #tab_content2.tab-pane.fade.in{"aria-labelledby" => "owner-tab", :role => "tabpanel"}
                = render partial: "submissions/forms/owner_fields", locals: { submission_f: f }

              #tab_content3.tab-pane.fade.in{"aria-labelledby" => "applicant-tab", :role => "tabpanel"}
                = render partial: "submissions/forms/applicant_fields", locals: { submission_f: f }

  .row.no-print
    .col-sm-12
      = button_tag(type: 'submit', class: "btn btn-primary btn-lg pull-right") do
        %i.fa.fa-check
        Save Application
