= submission_f.simple_fields_for :vessel do |vessel_f|
  - vessel_f.object = submission_f.object.vessel
  .x_panel
    .x_title
      %h4 Vessel Information
      .clearfix
    .x_content
      .row
        .col-md-3
          = vessel_f.input :name, input_html: { class: "upcase" }, required: false
        .col-md-3
          = vessel_f.input :hin, input_html: { class: "upcase" }, required: false
        .col-md-3
          = vessel_f.input :make_and_model, input_html: { class: "upcase" }, required: false
        .col-md-3
          = vessel_f.input :length_in_meters, input_html: { class: "upcase" }, required: false
      .row
        .col-md-3
          = vessel_f.input :hin, input_html: { class: "upcase" }, required: false
        .col-md-3
          = vessel_f.input :vessel_type, collection: vessel_type_list, as: :select, include_blank: false, input_html: { class: "select2 select2_single" }, required: false
        .col-md-3
          = vessel_f.input :vessel_type_other, input_html: { class: "upcase" }, required: false
        .col-md-3
          = vessel_f.input :make_and_model, input_html: { class: "upcase" }, required: false
      .row
        .col-md-3
          = vessel_f.input :mmsi_number, input_html: { class: "upcase" }, required: false
        .col-md-3
          = vessel_f.input :radio_call_sign, input_html: { class: "upcase" }, required: false
        .col-md-6
