- agent = @submission.agent
%table.table.table-striped
  %thead
    %th Name
    %th Email
    %th Phone
    %th Address
    %th
  %tbody
    - if agent.name.present?
      %tr
        %td.agent-name
          = link_to_unless @readonly, agent, "#",
            "data-target" => "#edit_agent_modal", "data-toggle" => "modal"
        %td.agent-email= agent.email
        %td.agent-phone_number= agent.phone_number
        %td.agent-address{width: "40%"}= agent.inline_address
        %td
          - unless @readonly
            = link_to submission_agent_path(@submission, agent),
              class: 'btn-link',
              method: :delete,
              remote: true,
              data: { confirm: "Are you sure you want to remove this agent?" },
              style: 'color: red;' do
              %i.fa.fa-trash
              Remove

- unless @readonly
  - if agent.name.blank?
    %br
    .row
      .col-md-12
        = link_to '#', class: 'btn btn-primary',
          "data-target" => "#edit_agent_modal",
          "data-toggle" => "modal" do
          %i.fa.fa-plus
          Add Agent
