.modal.fade{id: "edit_agent_modal", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-lg
    .modal-content
      = simple_form_for @submission,
        remote: true,
        method: :put,
        url: submission_agent_path(@submission) do |f|
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4.modal-title Agent Information
          .modal-body
            .postcode-lookup
              = f.simple_fields_for :agent do |agent_f|
                - agent_f.object = f.object.agent
                .row
                  .col-md-6
                    = agent_f.input :name, label: "Full Name", input_html: { class: "upcase agent-name"}
                  .col-md-3
                    = agent_f.input :email, label: "Email Address"
                  .col-md-3
                    = agent_f.input :phone_number, label: "Phone Number", input_html: { class: "upcase" }

                = render partial: "submissions/basic/forms/owners/fields/address", locals: { owner_f: agent_f, countries: countries_collection }
          .modal-footer
            = button_tag(type: 'submit', class: "btn btn-primary pull-right") do
              Save Agent
