.modal.fade{id: 'take-action', role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-md
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title Take Action
      .modal-body
        %p= link_to "Print Certificate of Registry",
            vessel_registration_certificate_path(vessel, format: :pdf),
            target: "_blank",
            class: "btn btn-block btn-success #{'disabled' unless vessel.prints_registration_certificate?}"

        %p= link_to "Print Current Transcript",
            vessel_current_transcript_path(vessel, format: :pdf),
            target: "_blank",
            class: "btn btn-block btn-primary #{'disabled' unless vessel.prints_transcript?}"

        %p= link_to "Print Historic Transcript",
            vessel_historic_transcript_path(vessel, format: :pdf),
            target: "_blank",
            class: "btn btn-block btn-info #{'disabled' unless vessel.prints_transcript?}"

        - if Policies::Workflow.can_edit_official_number?(current_user)
          %p= link_to "Edit Official Number (Team Leader only)", "#",
                data: { target: "#edit-official-no", toggle: "modal" },
                class: "btn btn-block btn-danger"
          = render partial: "vessels/modals/edit_official_no", locals: {vessel: vessel}

        %hr
        - if vessel.registration_status != :frozen
          %p= link_to "Freeze Record", "#",
              data: { target: "#freeze-record", toggle: "modal" },
              class: "btn btn-block btn-danger"
          = render partial: "vessels/modals/freeze_record", locals: {vessel: vessel}
          %hr
          - if vessel.registration_status != :closed
            %p
              = link_to DeprecableTask.new(:registrar_closure).description,
                vessel_closure_path(vessel),
                method: :post, class: "btn btn-block btn-warning"
            %p
              = link_to DeprecableTask.new(:forced_closure).description,
                vessel_forced_closure_path(vessel),
                method: :post, class: "btn btn-block btn-danger"
          - else
            %p= link_to "Restore Closed Registration", vessel_closure_path(vessel),
                method: :post, class: "btn btn-block btn-warning"
          %p= link_to "Manual Override", vessel_manual_override_path(vessel),
              method: :post, class: "btn btn-block btn-success"

        - else
          %p= link_to "Unfreeze Record", "#",
              data: { target: "#unfreeze-record", toggle: "modal" },
              class: "btn btn-block btn-warning"
          = render partial: "vessels/modals/unfreeze_record", locals: {vessel: vessel}
        %hr
        - if vessel.can_issue_section_notice?
          %p= link_to DeprecableTask.new(:section_notice).description, "#",
              data: { target: "#section-notice", toggle: "modal" },
              class: "btn btn-block btn-danger"
          = render partial: "vessels/modals/section_notice", locals: {vessel: vessel}
        - elsif vessel.can_issue_termination_notice?
          %p= link_to DeprecableTask.new(:termination_notice).description,
              vessel_termination_path(vessel),
              method: :post, class: "btn btn-block btn-danger"
        - else
          %p= link_to "Terminate", "#",
              method: :post, class: "disabled btn btn-block btn-danger"


