#vessel-info.grid-row
  .column-two-thirds
    %h1.heading-xlarge= t("registration.title")
    %h3.heading-medium= t("vessel_info.form.title")
    %p= t("vessel_info.form.prompt")
    = simple_form_for @vessel_info, url: vessel_info_path, method: :put do |f|
      %legend.visuallyhidden= t("vessel_info.form.title")
      - if f.error_notification
        .error-summary{"aria-labelledby" => "error-summary-heading", :role => "group", :tabindex => "-1"}
          %h1#error-summary-heading.heading-medium.error-summary-heading
            = f.error_notification
          %p= t("registration.error_description")
      = form_input f, :name
      = form_input f, :hin, as: :hin
      = form_input f, :make_and_model
      = form_input f, :length_in_centimeters, as: :length_in_centimeters
      = form_select f, :number_of_hulls, number_of_hulls_collection
      = form_select f, :vessel_type_id, vessel_type_collection, input_html: {"data-target" => form_input_id(f, :vessel_type_other)}
      = form_input f, :vessel_type_other
      = form_input f, :mmsi_number
      = form_input f, :radio_call_sign, input_html: {maxlength: 7}
      = f.button :submit, "Continue", class: "button"
