%h2 Vessel Details
= submission_f.simple_fields_for :vessel do |vessel_f|
  %fieldset{ disabled: @readonly }
    - vessel_f.object = submission_f.object.vessel
    .row
      .col-md-3
        = vessel_f.input :name, label: "Approved Vessel Name", input_html: { class: "upcase" }
      .col-md-3
        = vessel_f.input :alt_name_1, input_html: { class: "upcase" }
        - unless @readonly
          = link_to "#", id: "alt_name_1", class: "promote_alt_name" do
            %i.fa.fa-check
            Use this name
      .col-md-3
        = vessel_f.input :alt_name_2, input_html: { class: "upcase" }
        - unless @readonly
          = link_to "#", id: "alt_name_2", class: "promote_alt_name" do
            %i.fa.fa-check
            Use this name
      .col-md-3
        = vessel_f.input :alt_name_3, input_html: { class: "upcase" }
        - unless @readonly
          = link_to "#", id: "alt_name_3", class: "promote_alt_name" do
            %i.fa.fa-check
            Use this name
    %hr
    .row
      .col-md-3
        = vessel_f.input :make_and_model, input_html: { class: "upcase" }
      .col-md-3
        = vessel_f.input :length_in_meters, input_html: { class: "upcase" }
      .col-md-3
        = vessel_f.input :vessel_type, collection: vessel_types_collection(@submission), as: :select, disabled: @readonly,
          include_blank: false, input_html: { class: "select2 select2_single" }
      .col-md-3
        = vessel_f.input :vessel_type_other, input_html: { class: "upcase" }
      .col-md-3
        = vessel_f.input :hin, input_html: { class: "upcase" }
      .col-md-3
        = vessel_f.input :number_of_hulls, collection: 1..9, as: :select, disabled: @readonly,
          include_blank: false, input_html: { class: "select2 select2_single" }
      .col-md-3
        = vessel_f.input :radio_call_sign, input_html: { class: "upcase" }
      .col-md-3
        = vessel_f.input :mmsi_number, input_html: { class: "upcase" }
    .row
      - vessel_f.object.autonomous_vessel ||= false
      .col-md-3{ class: vessel_change_css(:autonomous_vessel) }
        = vessel_f.input :autonomous_vessel,
          label: vessel_change_label(:autonomous_vessel),
          collection: [["No", 0], ["Yes", 1]],
          include_blank: false,
          input_html: { class: "select2 select2_single" }

