%strong
  - if declaration.not_required?
    n/a
  - elsif declaration.completed?
    %i.fa.fa-check
    %strong
      Completed
      - if declaration.completed_by
        = " by #{declaration.completed_by}"
      - else
        online
    (#{ declaration.completed_at })

  - else
    = simple_form_for declaration do |f|
      = f.input :id, as: :hidden
      .form-group= f.button :submit, "Complete Declaration"
