%strong
  - if declaration.completed?
    %i.fa.fa-check
    %strong
      Completed
      - if declaration.completed_by
        = " by #{declaration.completed_by}"
      - else
        online
    (#{ declaration.completed_at })

    - if declaration.completed_form.exists?
      %p
        %i.fa.fa-file-pdf-o
        = link_to declaration.completed_form_file_name, declaration.completed_form.url

  - else
    = simple_form_for declaration, remote: true, authenticity_token: true do |f|
      = f.input :id, as: :hidden
      .form-group= f.input :completed_form, as: :file, label: false
      .form-group= f.button :submit, "Upload Declaration", class: "hidden"
