%strong
  - if declaration.not_required?
    n/a
  - elsif declaration.completed?
    %i.fa.fa-check
    %strong
      Completed
      - if declaration.completed_by
        = " by #{declaration.completed_by}"
      - else
        online
    (#{ declaration.completed_at.to_s(:date_time) })

  - else
    = simple_form_for declaration,
                      url: complete_submission_declaration_path(@submission, declaration),
                      method: :post do |f|
      .form-group= f.button :submit, "Complete Declaration"
