.claim_button{ id: "claim_button_#{ task.id }"}
  - if task.unclaimed?
    = form_tag claim_submission_task_path(submission, task), remote: true do
      = submit_tag "Claim"

  - elsif task.claimant == current_user
    = form_tag unclaim_submission_task_path(submission, task), remote: true do
      = submit_tag "Unclaim"

  - elsif task.claimed?
    Claimed by:
    = task.claimant

    - if Policies::Workflow.can_unclaim_team_tasks?(current_user)
      = form_tag unclaim_submission_task_path(submission, task), remote: true do
        = submit_tag "Unclaim (Team Leader only)"
  - else
    = task.current_state.to_s.humanize
