.claim_button
  - if submission.completed?

  - elsif submission.unassigned?
    = form_tag claim_submission_path(submission) do
      = submit_tag "Claim"

  - elsif submission.claimant == current_user
    = form_tag unclaim_submission_path(submission) do
      = submit_tag "Unclaim"

  - elsif submission.assigned?
    Claimed by:
    = submission.claimant
