.x_panel#similar-applications
  .x_content
    - if @similar_submissions.empty?
      .row
        .col
          %h4 No Linked Applications
    - else
      .row
        .col-md-12
          %h5
            Based on the information entered by finance,
            the following open applications may be related:

      - @similar_submissions.each do |submission|
        .row
          .col-md-2
            = link_to submission.job_type, submission_path(submission)
          .col-md-2
            = submission.ref_no

- if @submission.claimant == current_user
  = content_for :primary_action_button do
    - if @submission.registered_vessel.blank?
      = link_to "Convert to Application", "#",
        class: "btn btn-lg btn-primary pull-right disabled"
    - else
      = link_to "Convert to Application",
        convert_submission_finance_payment_path(@submission),
        method: :patch,
        class: "btn btn-lg btn-primary pull-right"
