#finance_info.x_panel
  .x_content
    .row
      %table.table
        %thead
          %th{ width: "50%" } Finance Information
          %th Submitted Vessel Details
        %tbody
          %tr
            %td
              Payment Received:
              = formatted_amount(submission.payment_received)
            %td
              Name:
              = submission.vessel_name
          %tr
            %td
              Date Received:
              = submission.received_at
            %td.official_no
              Official No:
              - if submission.new_registration?
                N/A
              - else
                = submission.vessel_reg_no
                - if @submission.claimant == current_user && !@linkable_submission
                  = link_to "#change-vessel",
                    "data-target" => "#change-vessel",
                    "data-toggle" => "modal",
                    class: "btn btn-xs btn-info" do
                    Change
          %tr
            %td{ colspan: 2 }
              Target Date:
              = submission.target_date
