= render partial: "submissions/info/breadcrumbs", locals: { submission: @submission }
= render partial: "submissions/info/heading", locals: { submission: @submission }
= render partial: "summary", locals: { submission: @submission }

- if @linkable_submission
  = render partial: "linkable_submission", locals: {submission: @submission, linkable_submission: @linkable_submission}
- else
  = render partial: "convertible_submission", locals: { submission: @submission }

- if @submission.claimant == current_user
  .row.no-print#actions
    .col-sm-6
      = link_to  "#link-application",
        "data-target" => "#link-application",
        "data-toggle" => "modal",
        class: "btn btn-md btn-warning" do
        Link to Another Application
    .col-sm
      = yield :primary_action_button

  = render partial: "submission/finance_payments/modals/submission"
  = render partial: "submission/finance_payments/modals/vessel"
  = render partial: "submission/finance_payments/modals/edit_finance_payment", locals: { finance_payment: @finance_payment }
