= render partial: "submissions/info/breadcrumbs", locals: {submission: @submission}
= render partial: "submissions/info/heading", locals: {submission: @submission}

.x_panel
  .x_content
    .row
      %table.table
        %thead
          %th{ width: "50%" } Finance Information
          %th Submission Vessel Details
        %tbody
          %tr
            %td
              Payment Received:
              = "£#{number_with_precision(@submission.payment_received.to_f / 100, precision: 2)}"
            %td
              Name:
              = @submission.vessel_name
          %tr
            %td
              Date Received:
              = @submission.received_at
            %td
              Official No:
              = @submission.vessel_reg_no
          %tr
            %td{ colspan: 2 }
              Target Date:
              = @submission.target_date

- if @linkable_submission
  = render partial: "linkable_submission", locals: {submission: @submission, linkable_submission: @linkable_submission}
- else
  = render partial: "convertible_submission", locals: {submission: @submission}

- if @submission.claimant == current_user
  .row.no-print#actions
    .col-sm-6
      = link_to  "#link-application",
        "data-target" => "#link-application",
        "data-toggle" => "modal",
        class: "btn btn-md btn-warning" do
        Link to Another Application
    .col-sm
      = yield :primary_action_button

  = render partial: "submission/finance_payments/modals/submission"
