.x_panel
  .x_content
    .row
      - linkable_submission = Decorators::Submission.new(linkable_submission)
      %table.table
        %thead
          %th
            Linked Application
            .pull-right
              = render partial: "/shared/registration_status", locals: { registration_status: linkable_submission.registration_status }
        %tbody
          %tr
            %td.linkable_ref_no
              Application Reference No:
              = linkable_submission.ref_no
          %tr
            %td
              Application Type:
              = linkable_submission.job_type
          %tr
            %td
              Vessel Name:
              = linkable_submission.vessel_name
          %tr
            %td
              Official No:
              -if linkable_submission.vessel_reg_no.present?
                = link_to linkable_submission.vessel_reg_no, vessel_path(linkable_submission.registered_vessel)

- content_for :primary_action_button do
  = link_to "Link to Application",
    link_submission_finance_payment_path(@submission, target_ref_no: linkable_submission.ref_no),
    method: :patch,
    class: "btn btn-lg btn-primary pull-right"
