<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge"><%= t("registration.title") %></h1>

    <h3 class="heading-medium"><%= t("registration.prerequisites.title") %></h3>

    <p><%= t("registration.prerequisites.prompt") %></p>

    <%= simple_form_for @registration, url: wizard_path, method: :put do |f| %>
      <legend class="visuallyhidden"><%= t("registration.prerequisites.title") %></legend>

      <% if f.error_notification %>
        <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
          <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
            <%= f.error_notification %>
          </h1>

          <p><%= t("registration.error_description") %></p>
        </div>
      <% end %>

      <div class="form-group<%= " error" if f.error_notification %>">
        <%= f.input :not_registered_before_on_ssr, as: :boolean, wrapper: false, label_html: {class: "block-label"} %>
        <%= f.input :not_registered_under_part_1, as: :boolean, wrapper: false, label_html: {class: "block-label"} %>
        <%= f.input :owners_are_uk_residents, as: :boolean, wrapper: false, label_html: {class: "block-label"} %>
        <%= f.input :user_eligible_to_register, as: :boolean, wrapper: false, label_html: {class: "block-label"} %>
      </div>

      <%= f.button :submit, class: "button" %>
    <% end %>
  </div>
</div>
