<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge"><%= t("registration.title") %></h1>

    <h3 class="heading-medium"><%= t("registration.vessel_info.title") %></h3>

    <p><%= t("registration.vessel_info.prompt") %></p>

    <%= simple_form_for @registration, url: wizard_path, method: :put do |f| %>
      <legend class="visuallyhidden"><%= t("registration.vessel_info.title") %></legend>

      <%= f.input :id, as: :hidden %>

      <% if f.error_notification %>
        <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
          <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
            <%= f.error_notification %>
          </h1>

          <p><%= t("registration.error_description") %></p>
        </div>
      <% end %>

      <%= f.simple_fields_for :vessels, @vessels do |vf| %>
        <%= form_input vf, :name %>
        <%= form_input vf, :hin, as: :hin %>
        <%= form_input vf, :make_and_model %>
        <%= form_input vf, :length_in_centimeters, as: :length_in_centimeters %>
        <%= form_select vf, :number_of_hulls, number_of_hulls_collection %>
        <%= form_select vf, :vessel_type_id, vessel_type_collection %>
        <%= form_input vf, :vessel_type_other %>
        <%= form_input vf, :mmsi_number %>
        <%= form_input vf, :radio_call_sign %>
      <% end %>

      <%= f.button :submit, class: "button" %>
    <% end %>
  </div>
</div>
