.row
  .col-sm-9
    %h1{style: 'margin-top: 0px !important;'}
      = @vessel.name
      %span (#{ @vessel.vessel_type })

  - unless current_user.read_only?
    .col-sm-3
      .pull-right
        = link_to '#take-action', "data-target" => "#take-action", "data-toggle" => "modal", class: 'btn btn-primary' do
          %i.fa.fa-hand-paper-o{style: 'font-size: 1.2em; font-weight: bold;'}
          Registrar Tools
        = render partial: "vessels/modals/registrar_tools", locals: { vessel: @vessel }
.row
  .col-md-12
    .x_panel
      .x_title
        .col-md-4
          %h2 Vessel Details
        .col-md-4
          = render partial: "alerts"
        .col-md-4
          .pull-right
            %h4= render partial: "/shared/registration_status", locals: { registration_status: @vessel.registration_status }
        .clearfix
      .x_content
        .row{style: 'padding-bottom: 15px;'}
          = render partial: "/vessels/#{Activity.new(@vessel.part).view_mode}/summary"

        = render partial: "/vessels/#{Activity.new(@vessel.part).view_mode}/tabs/base"
