%table.table.table-striped#history
  %thead
    %th Date
    %th Activity
  %tbody
    %tr
      %td= @submission.updated_at.in_time_zone.to_s(:date_time)
      %td= action_for(@submission, @submission.claimant)
    - @submission.versions.reverse.each do |version|
      - if submission = version.reify
        - unless submission.incomplete?
          %tr
            %td= submission.updated_at.in_time_zone.to_s(:date_time)
            %td= action_for(submission, version.whodunnit)
    %tr
      %td= @submission.created_at.in_time_zone.to_s(:date_time)
      %td Application started

