.x_panel
  .x_content
    %div{"data-example-id" => "togglable-tabs", :role => "tabpanel"}

      %ul#myTab.nav.nav-tabs.bar_tabs{:role => "tablist"}
        %li.active{:role => "presentation"}
          %a#vessel-tab{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#tab_content1", :role => "tab"} Vessel Information

        %li{:role => "presentation"}
          %a#owner-tab{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab_content2", :role => "tab"} Owners

        %li{:role => "presentation"}
          %a#correspondence-tab{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab_content3", :role => "tab"} Correspondence

        %li{:role => "presentation"}
          %a#payment-tab{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab_content4", :role => "tab"} Payment & Delivery

        %li{:role => "history"}
          %a#payment-tab{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab_content5", :role => "tab"} History

      #myTabContent.tab-content
        #tab_content1.tab-pane.fade.active.in{"aria-labelledby" => "vessel-tab", :role => "tabpanel"}
          = render partial: "submissions/tabs/vessel", locals: { vessel: submission.vessel }

        #tab_content2.tab-pane.fade{"aria-labelledby" => "owner-tab", :role => "tabpanel"}
          = render partial: "submissions/tabs/declaration", collection: submission.declarations

        #tab_content3.tab-pane.fade{"aria-labelledby" => "correspondence-tab", :role => "tabpanel"}
          = render partial: "shared/notification_list/base",
            locals: {submission: submission}
          = render partial: "submissions/actions/add_correspondence", locals: { submission: submission }

        #tab_content4.tab-pane.fade{"aria-labelledby" => "payment-tab", :role => "tabpanel"}
          = render partial: "submissions/tabs/payment", locals: { payment: submission.payment }

          = render partial: "submissions/tabs/delivery_address", locals: { delivery_address: submission.delivery_address }

        #tab_content5.tab-pane.fade{"aria-labelledby" => "history-tab", :role => "tabpanel"}
          = render partial: "submissions/tabs/history"
