.row
  .col-sm-6
    = render partial: "submissions/heading", locals: {submission: @submission}
  .col-sm-6
    .pull-right
      = link_to registration_certificate_path(@submission.registration, format: :pdf), target: "_blank", class: "btn btn-warning" do
        %i.fa.fa-print{style: "font-size: 1.2em;"}
        Print Certificate of Registry
      = link_to registration_cover_letter_path(@submission.registration, format: :pdf), target: "_blank", class: "btn btn-warning" do
        %i.fa.fa-print{style: "font-size: 1.2em;"}
        Print Cover Letter

.row
  .col-md-12.col-sm-12.col-xs-12
    .x_panel
      .x_title
        %h2 Task Complete
        .clearfix
      .x_content
        %p The vessel owner has been notified via email that their vessel is now registered on Part III of the UK Ship Register.

.row.no-print
  .col-xs-12
    = link_to tasks_my_tasks_path, class: "btn btn-info btn-lg" do
      %i.fa.fa-list-ol
      Return to My Tasks
    .pull-right
      = link_to tasks_next_task_path, class: 'btn btn-success btn-lg' do
        %i.fa.fa-arrow-circle-right{style: 'font-size: 1.2em; font-weight: bold;'}
        Process Next Application
