.row
  .col-sm-6
    %h1{style: "margin-top: 0px !important;"}
      Start a New Application

= simple_form_for @submission do |f|
  = f.input :part, as: :hidden
  .row
    .col-md-12
      .x_panel
        .x_content
          .row
            .col-md-3
              = f.input :received_at, as: :string, label: "Date Document Received", input_html: { "data-provide" => "datepicker", "data-date-autoclose" => "true", "data-date-format" => "dd/mm/yyyy"}, required: false
          .row
            .col-md-3
              = f.input :task, collection: Task.default_task_types, as: :select, include_blank: false, input_html: { class: "select2 select2_single" }, required: false
            .col-md-3
              #submission_vessel_reg_no
                = f.input :vessel_reg_no, label: "Official No.".html_safe, input_html: { class: "upcase" }
              #submission_vessel_name
                = f.simple_fields_for :vessel do |vessel_f|
                  - vessel_f.object = f.object.vessel
                  = vessel_f.input :name, label: "Vessel Name", input_html: { class: "upcase" }, required: false
          .row
            .col-md-3
              = f.input :applicant_name, label: "Applicant Name", input_html: { class: "upcase" }
            .col-md-3
              = f.input :applicant_email, label: "Applicant's Email Address"
          .row
            .col-md-8
              .form-group
                %label
                  %input{name: "submission[applicant_is_agent]", value: "1", type: "checkbox"}
                  Applicant is Agent
          .row
            .col-md-4
              .form-group
                %label
                  %input{name: "new_submission_actions", value: "application_receipt", type: "checkbox"}
                  Send an Application Receipt email

  .row.no-print
    .col-md-12
      = button_tag(type: 'submit', class: "btn btn-success btn-lg pull-right") do
        %i.fa.fa-check
        Save Application

