= render partial: "submissions/info/breadcrumbs", locals: {submission: @submission}
= render partial: "submissions/info/heading", locals: {submission: @submission}

= render partial: "submissions/info/prompts", locals: {submission: @submission}

= render partial: "main", locals: {submission: @submission}
- unless @submission.registered_vessel
  = render partial: "similar_vessels", locals: {submission: @submission}
= render partial: "actions", locals: {submission: @submission}
