.row
  .col-sm-12
    = render partial: "breadcrumbs", locals: {submission: @submission}
    %h1{style: "margin-top: 0px !important;"}
      = @submission.job_type
      %small ID: #{ @submission.ref_no }
    = render partial: "prompts", locals: {submission: @submission}

= render partial: "tabs", locals: {submission: @submission}
= render partial: "similar_vessels", locals: {submission: @submission}
= render partial: "actions", locals: {submission: @submission}
