.row
  .col-sm-12
    = render partial: "breadcrumbs", locals: {submission: @submission}
.row
  .col-sm-6
    = render partial: "submissions/heading", locals: {submission: @submission}
  .col-sm-6
    - if @submission.claimant == current_user
      = link_to "Edit Application",
                edit_submission_path(@submission),
                class: "btn btn-primary pull-right"

    = render partial: "prompts", locals: {submission: @submission}

= render partial: "tabs", locals: {submission: @submission}
= render partial: "similar_vessels", locals: {submission: @submission}
= render partial: "actions", locals: {submission: @submission}
