.x_panel
  .x_title
    %h1 Submission Information
    .clearfix
  .x_content
    %div{"data-example-id" => "togglable-tabs", :role => "tabpanel"}

      %ul#myTab.nav.nav-tabs.bar_tabs{:role => "tablist"}
        %li.active{:role => "presentation"}
          %a#vessel-tab{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#tab_content1", :role => "tab"} Vessel Information

        %li{:role => "presentation"}
          %a#owner-tab{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab_content2", :role => "tab"} Owners

        %li{:role => "presentation"}
          %a#correspondence-tab{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab_content3", :role => "tab"} Correspondence

        %li{:role => "presentation"}
          %a#correspondence-tab{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab_content4", :role => "tab"} Payment

      #myTabContent.tab-content
        #tab_content1.tab-pane.fade.active.in{"aria-labelledby" => "vessel-tab", :role => "tabpanel"}
          = render partial: "vessel", locals: { vessel: @submission.vessel }

        #tab_content2.tab-pane.fade{"aria-labelledby" => "owner-tab", :role => "tabpanel"}
          = render partial: 'owner', collection: @submission.owners

        #tab_content3.tab-pane.fade{"aria-labelledby" => "correspondence-tab", :role => "tabpanel"}
          = render partial: 'correspondence'

        #tab_content4.tab-pane.fade{"aria-labelledby" => "owner-tab", :role => "tabpanel"}
          = render partial: 'payment', locals: { payment: @submission.payment }

= render partial: 'actions'

= render partial: 'submissions/modals/register', locals: {submission: @submission}
= render partial: 'to_do_modals'
