%h2 Managing Owner

- if @readonly
  %strong.managing_owner-name= @submission.managing_owner.try(:name)
- else
  - if @submission.managing_owner.present?
    = link_to "#edit-managing_owner", data: { target: "#edit-managing_owner", toggle: "modal" } do
      %strong.managing_owner-name= @submission.managing_owner.name
  - else
    = link_to "#edit-managing_owner",
      class: 'btn btn-link',
      data: { target: "#edit-managing_owner", toggle: "modal" },
      style: 'color: green; padding: 0px;' do
      %i.fa.fa-plus
      Add Managing Owner

.modal.fade{id: "edit-managing_owner", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-sm
    .modal-content
      = simple_form_for Submission.new,
        remote: true,
        url: submission_managing_owner_path(@submission),
        method: :put do |f|
        = hidden_field_tag "modal_id", "edit-managing_owner"
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4.modal-title Managing Owner
        .modal-body
          .row
            .col-md-12
              = f.input :managing_owner_id, as: :select,
                collection: customer_select_options(@submission),
                include_blank: false,
                input_html: { class: "select2 select2_single" },
                label: "Name"
        .modal-footer
          = f.submit "Save Managing Owner", class: "btn btn-primary"
