%h2 Agent
- agent = vessel.agent
%table.table.table-striped#agent
  %thead
    %th Name
    %th Email
    %th Phone number
  - if agent
    %tbody
      %tr
        %td.agent-name= agent.name
        %td= agent.email
        %td= agent.phone_number

%hr
%h2 Representative Person
- representative = vessel.representative
%table.table.table-striped
  %thead
    %th Name
    %th Email
    %th Phone
  %tbody
    - if representative
      %tr
        %td.representative-name= representative
        %td.representative-email= representative.email
        %td.representative-phone_number= representative.phone_number
