%h2 Certificates & Documents
%table.table.table-striped
  %thead
    %th Type
    %th Issuing Authority
    %th Date Received
    %th Date of Expiry
    %th Notes
    %th Attachment(s)
  %tbody
    - vessel.documents.each do |document|
      %tr
        %td.entity_type= document.entity_type_name
        %td.issuing_authority= document.issuing_authority
        %td.noted_at= document.noted_at
        %td.expires_at= document.expires_at
        %td.notes= document.content
        %td= render partial: "vessels/shared/tabs/document_assets", locals: {document: document}
