%h2 Engines
%table.table.table-striped
  %thead
    - if display_extended_engines?(@vessel)
      %th Type
    %th Make / Model
    - if display_extended_engines?(@vessel)
      %th Cylinders
      %th RPM
      %th.extended-engine MCEP per Engine
      %th Derating
      %th MCEP After Derating
    - else
      %th.basic-engine Power
    %th Quantity
  %tbody
    - vessel.engines.each do |engine|
      %tr
        - if display_extended_engines?(@vessel)
          %td.engine_type= engine.engine_type
        %td.make_and_model= engine.make_and_model
        - if display_extended_engines?(@vessel)
          %td.cylinders= engine.cylinders
          %td.rpm= engine.rpm
          %td.mcep_per_engine
            - if engine.mcep_per_engine.present?
              #{ rounded_int(engine.mcep_per_engine.to_f) }kW
          %td.derating= engine.derating
        %td.mcep_after_derating
          - if engine.mcep_after_derating.present?
            #{ rounded_int(engine.mcep_after_derating.to_f) }kW
        %td.quantity= engine.quantity.to_i

%p.pull-right.total_mcep
  %strong
    Total
    = display_extended_engines?(@vessel) ? "MCEP:" : "Power:"
    #{ rounded_int(Engine.total_mcep_for(vessel)) }kW
