%h2 Mortgages
%table.table.table-striped
  %thead
    %th Priority Code
    %th Mortgage Type
    %th Reference Number
    %th Shares Mortgaged
    %th Mortgagor(s)
    %th Mortgagee(s)
    %th Date Executed
    %th Date Registered
    %th Date Discharged
  %tbody
    - vessel.mortgages.order("created_at asc").each_with_index do |mortgage, index|
      %tr{ class: ("strike" if mortgage.discharged_at?)}
        %td.priority= mortgage.priority_code
        %td.mortgage_type= mortgage.mortgage_type
        %td.reference_number= mortgage.reference_number
        %td.amount= mortgage.amount
        %td.mortgagor= mortgage.mortgagors.map(&:name).join(", ")
        %td.mortgagees= mortgage.mortgagees.map(&:name).join(", ")
        %td.executed_at= mortgage.executed_at.to_s(:date_summary) if mortgage.executed_at
        %td.registered_at= mortgage.registered_at.to_s(:date_time) if mortgage.registered_at
        %td.discharged_at= mortgage.discharged_at.to_s(:date_time) if mortgage.discharged_at
