%h2 Individual Owners
%table.table.table-striped
  %thead
    %th Name
    %th IMO #
    %th Nationality
    %th Status
    %th Email
    %th Phone
    %th Managing Owner
    %th Correspondent
  %tbody
    - vessel.owners.individual.each do |owner|
      %tr
        %td
          = owner.name
          %br
          = owner.inline_address
        %td= owner.imo_number
        %td= owner.nationality
        %td= owner.eligibility_status.try(:titleize)
        %td= owner.email
        %td= owner.phone_number
        %td= y_n(owner.managing_owner)
        %td= y_n(owner.correspondent)
%hr
%h2 Company Owners
%table.table.table-striped
  %thead
    %th Company Name
    %th IMO #
    %th Status
    %th Registration Number
    %th Email
    %th Phone
    %th Managing Owner
    %th Correspondent
  %tbody
    - vessel.owners.corporate.each do |owner|
      %tr
        %td
          = owner.name
          %br
          = owner.inline_address
        %td= owner.imo_number
        %td= owner.eligibility_status.try(:titleize)
        %td= owner.registration_number
        %td= owner.email
        %td= owner.phone_number
        %td= y_n(owner.managing_owner)
        %td= y_n(owner.correspondent)

%hr
%h2 Shareholding
.row
  .col-md-6
    %h4 Shares Held Outright
    %table.table.table-striped.table-bordered
      %thead
        %th Name
        %th.col-md-3 Shares
      %tbody
        - vessel.owners.each do |owner|
          %tr
            %td= owner.name
            %td= owner.shares_held

  .col-md-6
    %h4 Shares Held Jointly
    %table.table.table-striped.table-bordered
      %thead
        %th Owners
        %th.col-md-3 Shares
      %tbody
        - vessel.shareholder_groups.each do |shareholder_group|
          %tr
            %td
              %table.table{style: 'margin-bottom: 0px !important;'}
                %tbody
                  - shareholder_group.shareholder_group_members.each do |group_member|
                    %tr
                      %td= group_member.owner
            %td= shareholder_group.shares_held

%h2 Beneficial Owners
%table.table.table-striped
  %thead
    %th Name
    %th IMO #
    %th Nationality
    %th Status
    %th Email
    %th Phone
  %tbody
    - vessel.beneficial_owners.each do |beneficial_owner|
      %tr
        %td
          = beneficial_owner.name
          %br
          = beneficial_owner.inline_address
        %td= beneficial_owner.imo_number
        %td= beneficial_owner.nationality
        %td= beneficial_owner.eligibility_status.try(:titleize)
        %td= beneficial_owner.email
        %td= beneficial_owner.phone_number
