%h2 Description
%table.table.table-striped
  %thead
    %th= vessel_field_title(:gross_tonnage)
    %th= vessel_field_title(:net_tonnage)
    %th= vessel_field_title(:register_tonnage)
    %th= vessel_field_title(:register_length)
    %th= vessel_field_title(:length_overall)
    %th= vessel_field_title(:breadth)
    %th= vessel_field_title(:depth)
    %th= vessel_field_title(:propulsion_system)
    %th= vessel_field_title(:number_of_hulls)
  %tbody
    %tr
      %td
        - if vessel.gross_tonnage.present?
          #{Tonnage.new(:gross, vessel.gross_tonnage)}GT
      %td
        - if vessel.net_tonnage.present?
          #{Tonnage.new(:net, vessel.net_tonnage)}NT
      %td
        - if vessel.register_tonnage.present?
          #{Tonnage.new(:register, vessel.register_tonnage)}T
      %td #{vessel.register_length.to_i} metres
      %td #{vessel.length_overall.to_i} metres
      %td #{vessel.breadth.to_i} metres
      %td #{vessel.depth.to_i} metres
      %td.propulsion-system= vessel.propulsion_system
      %td= vessel.number_of_hulls

%hr
%h2 Construction
%table.table.table-striped
  %thead
    %th= vessel_field_title(:name_of_builder)
    %th= vessel_field_title(:builders_address)
    %th= vessel_field_title(:place_of_build)
    %th= vessel_field_title(:country_of_build)
    %th= vessel_field_title(:year_of_build)
    %th= vessel_field_title(:keel_laying_date)
    %th= vessel_field_title(:hull_construction_material)
  %tbody
    %tr
      %td= vessel.name_of_builder
      %td= vessel.builders_address
      %td= vessel.place_of_build
      %td= vessel.country_of_build
      %td= vessel.year_of_build
      %td= vessel.keel_laying_date
      %td= vessel.hull_construction_material

%hr
%h2 Operational Information
%table.table.table-striped
  %thead
    %th= vessel_field_title(:classification_society)
    %th= vessel_field_title(:classification_society_other)

    - if display_vessel_object?(:entry_into_service_at, @vessel)
      %th.service_description_fields= vessel_field_title(:entry_into_service_at)
      %th= vessel_field_title(:area_of_operation)
      %th= vessel_field_title(:alternative_activity)

    - if display_vessel_object?(:smc_issuing_authority, @vessel)
      %th.smc_fields= vessel_field_title(:smc_issuing_authority)
      %th= vessel_field_title(:smc_auditor)
      %th= vessel_field_title(:issc_issuing_authority)
      %th= vessel_field_title(:issc_auditor)
      %th= vessel_field_title(:doc_issuing_authority)
      %th= vessel_field_title(:doc_auditor)

  %tbody
    %tr
      %td= vessel.classification_society
      %td= vessel.classification_society_other

      - if display_vessel_object?(:entry_into_service_at, @vessel)
        %td.service_description_fields= vessel.entry_into_service_at
        %td= vessel.area_of_operation
        %td= vessel.alternative_activity

      - if display_vessel_object?(:smc_issuing_authority, @vessel)
        %td.smc_fields= vessel.smc_issuing_authority
        %td= vessel.smc_auditor
        %td= vessel.issc_issuing_authority
        %td= vessel.issc_auditor
        %td= vessel.doc_issuing_authority
        %td= vessel.doc_auditor
