.x_panel
  .x_content
    %div{"data-example-id" => "togglable-tabs", :role => "tabpanel"}

      %ul#submissionTab.nav.nav-tabs.bar_tabs{:role => "tablist"}
        %li.active{:role => "presentation"}
          %a#vessel-tab{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#tab_content_vessel", :role => "tab"} Vessel Info

        %li{:role => "presentation"}
          %a#supporting-tab{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab_content_supporting", :role => "tab"} Supporting Info

        %li{:role => "presentation"}
          %a#owner-tab{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab_content_owners", :role => "tab"} Owners

        %li{:role => "presentation"}
          %a#owner-tab{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab_content_documents", :role => "tab"} Documents

        %li{:role => "presentation"}
          %a#correspondence-tab{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab_content_correspondence", :role => "tab"} Correspondence

        %li{:role => "presentation"}
          %a#payment-tab{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab_content_payment", :role => "tab"} Payment

        %li{:role => "agent"}
          %a#payment-tab{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab_content_agent", :role => "tab"} Agent

        %li{:role => "history"}
          %a#payment-tab{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab_content_history", :role => "tab"} History

        %li{:role => "notes"}
          %a#payment-tab{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab_content_notes", :role => "tab"} Notes


      #submissionTabContent.tab-content
        #tab_content_vessel.tab-pane.fade.active.in{"aria-labelledby" => "vessel-tab", :role => "tabpanel"}
          = render partial: "submissions/basic/body/vessel", locals: { vessel: submission.vessel }

        #tab_content_supporting.tab-pane.fade{"aria-labelledby" => "supporting-tab", :role => "tabpanel"}
          = render partial: "submissions/basic/body/supporting_info"

        #tab_content_owners.tab-pane.fade{"aria-labelledby" => "owner-tab", :role => "tabpanel"}
          = render partial: "submissions/basic/body/owners"

        #tab_content_documents.tab-pane.fade{"aria-labelledby" => "documents-tab", :role => "tabpanel"}
          = render partial: "submissions/basic/body/documents", locals: { documents: submission.documents }

        #tab_content_correspondence.tab-pane.fade{"aria-labelledby" => "correspondence-tab", :role => "tabpanel"}
          = render partial: "shared/notification_list/base",
            locals: { notification_list: submission.notification_list }
          - if @submission.editable?
            = render partial: "submissions/actions/add_correspondence", locals: { submission: submission }

        #tab_content_payment.tab-pane.fade{"aria-labelledby" => "payment-tab", :role => "tabpanel"}
          = render partial: "submissions/basic/body/payments", locals: { submission: submission }

        #tab_content_agent.tab-pane.fade{"aria-labelledby" => "agent-tab", :role => "tabpanel"}
          = render partial: "submissions/basic/body/agent", locals: { agent: submission.agent }

        #tab_content_history.tab-pane.fade{"aria-labelledby" => "history-tab", :role => "tabpanel"}
          = render partial: "submissions/basic/body/history"

        #tab_content_notes.tab-pane.fade{"aria-labelledby" => "notes-tab", :role => "tabpanel"}
          #notes= render partial: "submission/notes/base", locals: { submission: submission }
