%tr
  %td System Email
  %td
    = link_to "#notification-#{ notification.id }",
      "data-target" => "#notification-#{ notification.id }",
      "data-toggle" => "modal" do
      Subject: #{notification.email_subject},
      Recipient: #{notification.recipient_email}
  %td
    = link_to notification.created_at.to_s(:date_time),
      "#email-content", "data-target" => "#notification-#{ notification.id }", "data-toggle" => "modal"
    = render partial:  "shared/notification_list/modals/notification", locals: { notification: notification }
  %td= notification.delivered_at.to_s(:date_time) if notification.delivered_at
  %td

