%tr
  %td Printed Item
  %td
    = link_to print_job_path(print_job, template: print_job.template, format: :pdf), target: "_blank" do
      = t("print_job.menu_title.#{print_job.template}").singularize
  %td= print_job.created_at.to_s(:date_time)
  %td= print_job.printed_at.to_s(:date_time) if print_job.printed_at
  %td
