= simple_form_for @task,
  url: complete_submission_task_path(submission, task),
  method: :post do |task_f|
  .modal-header
    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
      %span{"aria-hidden" => "true"} ×
    %h4.modal-title
      Task:
      = task.service
  .modal-body
    = render partial: "submission/tasks/modals/completion_activities", locals: { task: @task, task_f: task_f }

    %h5 The system will perform the following processes:
    #task-activities
      = "N/A" if task.service.activities.empty?
      - task.service.activities.each do |activity|
        #{activity.humanize}<br/>
    %hr
    %h5 The system will send the following items to the print queue:
    #task-print-templates
      = "N/A" if task.service.print_templates.empty?
      - task.service.print_templates.each do |print_template|
        #{print_template.humanize}<br/>


  .modal-footer
    = task_f.submit "Complete Task", class: "btn btn-success btn-lg"
