.row
  .col-md-12
    %h1 Fee Schedule
.row
  .col-md-12
    %table.table.table-striped.table-bordered
      %thead
        %th Part / Task
        %th Chargeable Item
        %th Price
        %th Premium Addon
        %th Subsequent Price
      %tbody
        - Fee.order(:category).all.each do |fee|
          %tr
            %td= fee.category.titleize
            %td= fee.task_variant.titleize
            %td= formatted_amount(fee.price)
            %td= fee.premium_addon_price ? formatted_amount(fee.premium_addon_price) : "n/a"
            %td= fee.subsequent_price ? formatted_amount(fee.subsequent_price) : "n/a"
