%h2 Beneficial Owners
%table.table.table-striped
  %thead
    %th Name
    %th IMO #
    %th Nationality
    %th Status
    %th Email
    %th Phone
    %th
  %tbody
    - @submission.beneficial_owners.order('name').each do |beneficial_owner|
      %tr
        %td.beneficial_owner-name
          = link_to beneficial_owner.name, "#",
            "data-target" => "#edit_beneficial_owner_#{beneficial_owner.id}",
            "data-toggle" => "modal"
        %td.beneficial_owner-imo_number= beneficial_owner.imo_number
        %td.beneficial_owner-nationality= beneficial_owner.nationality
        %td.beneficial_owner-status= beneficial_owner.eligibility_status
        %td.beneficial_owner-email= beneficial_owner.email
        %td.beneficial_owner-phone_number= beneficial_owner.phone_number
        %td

.row
  .col-md-12
    = link_to '#', class: 'btn btn-primary',
      "data-target" => "#new_beneficial_owner",
      "data-toggle" => "modal" do
      %i.fa.fa-plus
      Add Beneficial Owner

= render partial: "submissions/extended/forms/beneficial_owners/new"

- @submission.beneficial_owners.each do |beneficial_owner|
  = render partial: "submissions/extended/forms/beneficial_owners/edit", locals: { beneficial_owner: beneficial_owner }
