.modal-body
  .postcode-lookup
    = f.simple_fields_for :owner do |owner_f|
      - owner_f.object = f.object.owner
      .row
        .col-md-3
          - if f.object.new_record?
            = owner_f.input :name, label: "Owner Name", input_html: { class: "upcase owner-name"}
          - else
            = owner_f.input :name, label: "Owner Name", input_html: { class: "upcase owner-name"},
              disabled: true
            = owner_f.input :name, as: :hidden

        .col-md-3
          = owner_f.input :email
        .col-md-3
          = owner_f.input :phone_number, label: "Phone Number", input_html: { class: "upcase" }
        .col-md-3
          = owner_f.input :nationality, label: "Country of Nationality", as: :select, collection: WavesUtilities::Nationality.all, input_html: { class: "upcase" }
      .row
        .col-md-4
          %label.form-label-bold
            Postcode
          .input-group
            = text_field_tag :postcode_lookup_field, "", class: "postcode-lookup-field form-control"
            %span.input-group-btn
              = link_to "Lookup address", "#", class: "postcode-lookup-button btn btn-primary"
      .row
        .col-md-8.form-group
          .postcode-lookup-api-key.hidden= ENV["POSTCODE_LOOKUP_API_KEY"]
          .postcode-results-field
      .clearfix
      .row
        .col-md-4
          = owner_f.input :address_1, input_html: { class: "upcase address-1" }
        .col-md-4
          = owner_f.input :address_2, input_html: { class: "upcase address-2" }
        .col-md-4
          = owner_f.input :address_3, input_html: { class: "upcase address-3" }
      .row
        .col-md-4
          = owner_f.input :town, label: "Town or City", input_html: { class: "upcase town" }
        .col-md-4
          = owner_f.input :postcode, input_html: { class: "upcase postcode" }
        .col-md-4
          = owner_f.input :country, collection: ["UNITED KINGDOM"], include_blank: false

      = render partial: "submissions/part_3/forms/owners/declaration_fields", locals: { f: f }
.modal-footer
  = button_tag(type: 'submit', class: "btn btn-primary pull-right") do
    Save Individual Owner
