- owner = declaration.owner
- registry_owner = @submission.registry_owners[declaration_counter]

%table.table.table-striped{ id: "declaration_#{ declaration_counter + 1 }"}
  %thead
    %th Owner ##{ declaration_counter + 1 }
    - if @submission.display_registry_info?
      %th Current Information
    %th Submitted Information
  %tbody
    %tr
      %td{width: "20%"} Owner Name
      - if registry_owner
        %td.registry-owner-name{width: "40%"}
          = registry_owner.name
      %td.owner-name
        %strong
          = editable_owner("Owner Name", "owner[name]", declaration.owner.name, declaration)
    %tr
      %td Owner Address
      - if registry_owner
        %td
          = registry_owner.inline_address
      %td.owner-address
        %strong
          = link_to declaration.owner.inline_address, "#",
            class: "editable-link",
            id: "inline_owner_address_#{declaration.id}",
            "data-toggle" => "collapse",
            "data-target" => "#address-fields-#{declaration.id}"

        .collapse{ id: "address-fields-#{declaration.id}" }

          %dl.dl-horizontal.editable-fields
            %dt Building and Street
            %dd.address-1
              %strong
                = editable_owner("Address 1", "owner[address_1]", declaration.owner.address_1, declaration)
            %dt
            %dd.address-2
              %strong
                = editable_owner("Address 2", "owner[address_2]", declaration.owner.address_2, declaration)
            %dt
            %dd.address-3
              %strong
                = editable_owner("Address 3", "owner[address_3]", declaration.owner.address_3, declaration)

            %dt Town or city
            %dd.address-town
              %strong
                = editable_owner("Town", "owner[town]", declaration.owner.town, declaration)

            %dt Postcode
            %dd.address-postcode
              %strong
                = editable_owner("Postcode", "owner[postcode]", declaration.owner.postcode, declaration)

            %dt Country
            %dd.address-country
              %strong
                = editable_owner_country(declaration.owner.country, declaration)

    %tr
      %td Owner Email
      - if registry_owner
        %td
          = registry_owner.email
      %td.owner-email
        %strong
          = editable_owner_email("Owner Email", "owner[email]", declaration.owner.email, declaration)
    %tr
      %td Owner Phone Number
      - if registry_owner
        %td
          = registry_owner.phone_number
      %td.owner-phone_number
        %strong
          = editable_owner("Owner Phone Number", "owner[phone_number]", declaration.owner.phone_number, declaration)
    %tr
      %td Owner Nationality
      - if registry_owner
        %td
          = registry_owner.nationality
      %td.owner-nationality
        %strong
          = editable_owner_nationality(declaration.owner.nationality, declaration)
    %tr
      %td Declaration
      - if registry_owner
        %td
      %td.declaration{ id: "declaration_#{declaration.id}" }
        = render partial: "declarations/status", locals: { declaration: declaration}
%hr
