- owner = declaration.owner
- registry_owner = @submission.registry_owners[declaration_counter]
- registry_owner ||= Register::Owner.new

%table.table.table-striped{ id: "declaration_#{ declaration_counter + 1 }"}
  %thead
    %th Owner ##{ declaration_counter + 1 }

    - if @submission.display_registry_info?
      %th Current Information

    - if @submission.display_changeset?
      %th Submitted Information
  %tbody
    %tr
      %td{width: "20%"} Owner Name

      - if @submission.display_registry_info?
        %td.registry-owner-name{width: "40%"}
          = registry_owner.name

      - if @submission.display_changeset?
        %td.owner-name
          %strong
            - if @submission.uneditable?
              = owner.name
            - else
              = compare_reg_info owner.name, registry_owner.name
    %tr
      %td Owner Address

      - if @submission.display_registry_info?
        %td
          = registry_owner.inline_address

      - if @submission.display_changeset?
        %td.owner-address
          - if @submission.uneditable?
            %strong= owner.inline_address
          - else
            %strong
              = compare_reg_info owner.inline_address, registry_owner.inline_address
    %tr
      %td Owner Email

      - if @submission.display_registry_info?
        %td= registry_owner.email

      - if @submission.display_changeset?
        %td.owner-email
          %strong
            - if @submission.uneditable?
              = owner.email
            - else
              = compare_reg_info owner.email, registry_owner.email
    %tr
      %td Owner Phone Number

      - if @submission.display_registry_info?
        %td= registry_owner.phone_number

      - if @submission.display_changeset?
        %td.owner-phone_number
          %strong
            - if @submission.uneditable?
              = owner.phone_number
            - else
              = compare_reg_info owner.phone_number, registry_owner.phone_number
    %tr
      %td Owner Nationality

      - if @submission.display_registry_info?
        %td
          = registry_owner.nationality

      - if @submission.display_changeset?
        %td.owner-nationality
          %strong
            - if @submission.uneditable?
              = owner.nationality
            - else
              = compare_reg_info owner.nationality, registry_owner.nationality
    - if @submission.display_changeset?
      %tr
        %td Declaration
        - if @submission.display_registry_info?
          %td n/a
        %td.declaration{ id: "declaration_#{declaration.id}" }
          = render partial: "declarations/status", locals: { declaration: declaration}
    - else
      %tr
        %td Declaration
        %td.declaration{ id: "declaration_#{declaration.id}" }
          = render partial: "declarations/status", locals: { declaration: declaration}

%hr
