%table.table#payment
  %thead
    %th Receipt Date
    %th Payment Type
    %th Reference
    %th Customer IP
    %th Amount
  %tbody
    - submission.payments.each do |payment|
      %tr
        - if payment.remittance.is_a?(Payment::WorldPay)
          %td= payment.remittance.created_at
          %td World Pay
          %td Order Code #{payment.remittance.wp_order_code}
          %td= payment.remittance.customer_ip

        - elsif payment.remittance.is_a?(Payment::FinancePayment)
          - finance_payment = Decorators::FinancePayment.new(payment.remittance)
          %td= finance_payment.payment_date
          %td= finance_payment.payment_type_description
          %td Batch: #{finance_payment.batch_no}
          %td N/A
        %td
          %strong= formatted_amount(payment.amount)
