<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge"><%= t("registration.title") %></h1>

    <h3 class="heading-medium"><%= t("prerequisite.form.title") %></h3>

    <p><%= t("prerequisite.form.title") %></p>

    <%= simple_form_for @prerequisite,
      url: prerequisites_registration_process_index_path,
      method: :put do |f| %>
      <legend class="visuallyhidden"><%= t("prerequisite.form.title") %></legend>

      <% if f.error_notification %>
        <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
          <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
            <%= f.error_notification %>
          </h1>

          <p><%= t("registration.error_description") %></p>
        </div>
      <% end %>

      <div class="form-group<%= " error" if f.error_notification %>">
        <%= form_checkbox(f, :not_registered_before_on_ssr) %>
        <%= form_checkbox(f, :not_registered_under_part_1) %>
        <%= form_checkbox(f, :not_owned_by_company) %>
        <%= form_checkbox(f, :not_commercial_fishing_or_submersible) %>
        <%= form_checkbox(f, :owners_are_uk_residents) %>
        <%= form_checkbox(f, :owners_are_eligible_to_register) %>
        <%= form_checkbox(f, :not_registered_on_foreign_registry) %>
      </div>

      <%= f.button :submit, "Continue", class: "button" %>
    <% end %>
  </div>
</div>
