- @report.filter_attributes.keys.each do |filter_attr|
  %fieldset{ id: "filter_#{filter_attr}" }
    %legend= filter_attr.to_s.titleize
    - @report.filter_attributes[filter_attr].each do |search_attr|

      - filter[filter_attr] ||= {}
      - disabled = !@report.selected_attribute_keys[filter_attr].include?(search_attr.key)

      .form-group{ id: "fields_#{filter_attr}_#{search_attr.key}", class: ("hidden" if disabled) }
        .row
          .col-md-3
            %label{ for: "filter_#{filter_attr}_#{search_attr.key}" }= search_attr

          .col-md-2
            = select :filter, "#{filter_attr}[#{search_attr.key}_operator]",
              report_operator_collection(search_attr.dataype),
              { selected: filter[filter_attr]["#{search_attr.key}_operator"] },
              class: "form-control",
              disabled: disabled

          .col-md-2
            - selected_attr = (filter[filter_attr] || {})

            = text_field_tag "filter[#{filter_attr}][#{search_attr.key}]",
              filter[filter_attr][search_attr.key.to_sym],
              class: "form-control",
              disabled: disabled
    %hr
    .row
      .col-md-3
        %label{ for: "add_criteria[toggle_#{filter_attr}]" } Add search criteria
      .col-md-2
        = select "add_criteria", "toggle_#{filter_attr}",
          [] + @report.filter_attributes[filter_attr].map{ |a| [a.name, "fields_#{filter_attr}_#{a.key}"] }, { include_blank: true }, class: "toggle_search_criteria"
