%hr
%h2#total_shares
  = render partial: "/submissions/extended/forms/shareholding/total",
    locals: { submission: @submission }
.row
  .col-md-6#shares_held_outright
    = render partial: "/submissions/extended/forms/shareholding/held_outright"
  .col-md-6#shares_held_jointly
    = render partial: "/submissions/extended/forms/shareholding/held_jointly"


- content_for :shareholding_modals do
  .modal.fade{id: 'add-new-group', role: "dialog", tabindex: "-1"}
    .modal-dialog.modal-sm
      .modal-content
        = simple_form_for Declaration::Group.new,
          remote: true,
          url: submission_declaration_groups_path(@submission) do |f|
          .modal-header
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
            %h4.modal-title Add Owner to New Group
          .modal-body
            .row
              .col-md-6
                = f.input :default_group_member, as: :select,
                  collection: @submission.declarations.map{ |d| [d.owner.name, d.id] },
                  include_blank: false,
                  input_html: { class: "select2 select2_single" },
                  label: "Owner Name"
          .modal-footer
            = f.submit "Add Owner to New Group", class: "btn btn-primary"

.row
  .col-md-6
    %h4 Shares Held Jointly
    %table.table.table-striped.table-bordered
      %thead
        %th Owners
        %th.col-md-3 Shares
      %tbody
        %tr
          %td
            %table.table{style: 'margin-bottom: 0px !important;'}
              %tbody
                %tr
                  %td
                    Sally Smith
                    %a.pull-right{href: '#', style: 'color: red'} remove
                %tr
                  %td
                    John Smith
                    %a.pull-right{href: '#', style: 'color: red'} remove
            = link_to '#add-owner-to-group', class: 'btn btn-link', "data-target" => "#add-owner-to-group", "data-toggle" => "modal", style: 'color: green; padding: 0px !important; margin-top: 20px;' do
              %i.fa.fa-plus
              Add Owner to Group
          %td
            %a#owner-shares-numbers-2{"data-placement" => "bottom", "data-title" => "Shares held outright", "data-type" => "text", :href => "#"} 10
        %tr
          %td
            %table.table{style: 'margin-bottom: 0px !important;'}
              %tbody
                %tr
                  %td
                    Sally Smith
                    %a.pull-right{href: '#', style: 'color: red'} remove
                %tr
                  %td
                    ZTanker Corp Ltd
                    %a.pull-right{href: '#', style: 'color: red'} remove
                %tr
                  %td
                    GreenCore Inc
                    %a.pull-right{href: '#', style: 'color: red'} remove
                %tr
                  %td
                    Beefcake Inc
                    %a.pull-right{href: '#', style: 'color: red'} remove
                %tr
                  %td
                    Lavafire LLC
                    %a.pull-right{href: '#', style: 'color: red'} remove
          %td
            %a#owner-shares-numbers-4{"data-placement" => "bottom", "data-title" => "Shares held outright", "data-type" => "text", :href => "#"} 14

