%h4 Shares Held Outright
%table.table.table-striped.table-bordered
  %thead
    %th Name
    %th.col-md-3 Shares
  %tbody
    - @submission.declarations.each do |declaration|
      %tr
        %td= declaration.owner.name
        %td
          - if @readonly
            = declaration.shares_held
          - else
            = link_to "#shares_held_#{declaration.id}",
              data: { target: "#shares_held_#{declaration.id}" , toggle: "modal" } do
              = declaration.shares_held

          .modal.fade{id: "shares_held_#{declaration.id}", role: "dialog", tabindex: "-1"}
            .modal-dialog.modal-sm
              = simple_form_for declaration,
                remote: true,
                url: submission_declaration_path(@submission, declaration) do |f|
                .modal-content
                  .modal-header
                    %h4.modal-title
                      Shares Held Outright
                  .modal-body
                    = f.input :shares_held, label: declaration.owner
                  .modal-footer
                    = button_tag type: 'submit',
                      class: "btn btn-primary btn-sm pull-right" do
                      Save
