.modal-body
  .postcode-lookup
    = f.simple_fields_for :owner do |owner_f|
      - owner_f.object = f.object.owner
      = hidden_field_tag "declaration[entity_type]", "corporate"
      .row
        .col-md-6
          = render partial: "submissions/basic/forms/owners/fields/name", locals: { owner_f: owner_f, f: f, label: "Company Name"}

        .col-md-3
          = render partial: "submissions/basic/forms/owners/fields/nationality", locals: { owner_f: owner_f, label: "Country of Incorporation" }

        .col-md-3
          = owner_f.input :imo_number, label: "Owner IMO Number"
      .row
        .col-md-6
          = owner_f.input :eligibility_status, label: "Status",
            as: :select,
            collection: eligibility_status_collection(@submission)

        .col-md-3
          = owner_f.input :email, label: "Email Address"
        .col-md-3
          = owner_f.input :phone_number, label: "Phone Number", input_html: { class: "upcase" }

      .row
        .col-md-3
          = owner_f.input :registration_number, label: "Registration Number"
        .col-md-3
          = owner_f.input :date_of_incorporation, label: "Date of Incorporation", input_html: { "data-provide" => "datepicker", "data-date-autoclose" => "true", "data-date-format" => "dd/mm/yyyy"}

      = render partial: "submissions/basic/forms/owners/fields/address", locals: { owner_f: owner_f }

      = render partial: "submissions/basic/forms/owners/fields/declaration", locals: { f: f }
.modal-footer
  = button_tag(type: 'submit', class: "btn btn-primary pull-right") do
    Save Corporate Owner
