.row.no-print#actions
  .col-xs-12
    = render partial: "submissions/modals/reject", locals: {submission: @submission}
    = link_to "#reject-application", "data-target" => "#reject-application", "data-toggle" => "modal", class: "btn btn-danger" do
      %i.fa.fa-times
      Reject Application

    = render partial: "submissions/modals/refer", locals: {submission: @submission}
    = link_to "#refer-application", "data-target" => "#refer-application", "data-toggle" => "modal", class: "btn btn-warning" do
      %i.fa.fa-pause
      Refer Application

    = render partial: "submissions/modals/cancel", locals: {submission: @submission}
    = link_to "#cancel-application", "data-target" => "#cancel-application", "data-toggle" => "modal", class: "btn btn-link" do
      %i.fa.fa-trash
      Cancel Application

    - if @submission.approvable?
      = render partial: "submissions/modals/approve", locals: {submission: @submission}
      = link_to "#approve-application", "data-target" => "#approve-application", "data-toggle" => "modal", class: "btn btn-success btn-lg pull-right" do
        %i.fa.fa-check
        = t("submission.approval.inline-btn.#{ submission.task }")

