- @submission = Decorators::Submission.new(@submission)
- if @submission.actionable?
  .row.no-print#actions
    .col-xs-12
      - if @submission.claimant == current_user
        - if @submission.referrable?
          / refer button and modal
          = render partial: "submissions/modals/refer", locals: { submission: @submission }
          = link_to notification_path(@submission, template: :refer),
            data: { target: "#refer-application", toggle: "modal" },
            class: "btn btn-warning btn-refer-submission",
            remote: true do
            %i.fa.fa-pause
            Refer Application

        / cancel button and modal
        = render partial: "submissions/modals/cancel", locals: { submission: @submission }
        = link_to notification_path(@submission, template: :cancel),
                  data: { target: "#cancel-application", toggle: "modal" },
                  class: "btn btn-link",
                  remote: true do
          %i.fa.fa-trash
          Cancel Application

        - if @submission.approvable?
          / approve button
          - content_for(:submission_save_buttons) do
            = render partial: "submissions/#{Activity.new(@submission.part).view_mode}/actions/approve"

      - elsif @submission.cancelled?
        / revert cancellation button
        = form_tag claim_submission_states_path(submission) do
          = submit_tag "Revert Cancellation & Claim", class: "btn btn-success"

      - elsif @submission.referred?
        / revert referral button
        = form_tag claim_referral_submission_states_path(submission) do
          = submit_tag "Reclaim Referral", class: "btn btn-success"

      - unless @readonly
        = yield :submission_save_buttons
