<ul class="nav navbar-nav navbar-right">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <b>Login</b> <span class="caret"></span>
    </a>
    <ul id="login-dp" class="dropdown-menu">
      <li>
        <div class="row">
          <div class="col-md-12">
            Login via
            <div class="sso-buttons">
              <a href="#" class="btn btn-activedirectory">
                <%= fa_icon "windows" %> ActiveDirectory
              </a>
            </div>
              or
            <%= form_for :session, url: session_path do |form| %>
              <div class="form-group">
                <%= form.text_field :email, type: 'email', placeholder: 'Email address', required: true, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= form.password_field :password, placeholder: 'Password', required: true, class: 'form-control' %>
                <div class="help-block text-right">
                  <%= link_to "Forgot your password?", new_password_path %>
                </div>
              </div>
              <div class="form-group">
                <%= form.submit "Sign in", class: "btn btn-primary btn-block" %>
              </div>
              <div class="checkbox">
                <label><input type="checkbox"> keep me logged-in</label>
              </div>
            <% end %>
          </div>
        </div>
      </li>
    </ul>
  </li>
</ul>
