.row
  .col-md-9
    %h1{style: "margin-top: 0px !important;"}
      Finance: #{@heading}
  .col-md-3.pull-right
    = link_to "Start a Batch",
      finance_batches_path,
      method: :post,
      class: "btn btn-primary pull-right"

%table.table.table-striped
  %thead
    %th Batch No
    %th Started
    %th Ended
    %th Locked
    %th Person
    %th Amount
  %tbody
    - @batches.each do |batch|
      - batch = Decorators::FinanceBatch.new(batch)
      %tr.batch
        %td= link_to batch.title, finance_batch_payments_path(batch)
        %td= batch.open_date
        %td= batch.closed_date
        %td= batch.locked_date
        %td= batch.processed_by
        %td= formatted_amount(batch.total_amount)

= will_paginate @batches, renderer: BootstrapPagination::Rails
