= simple_form_for @submission, remote: true, class: "form-vertical" do |submission_f|
  = render partial: "submissions/extended/forms/tabs", locals: { submission_f: submission_f}

= content_for :submission_save_buttons do
  = button_tag type: 'submit',
    data: { target: "#save-incomplete-application", toggle: "modal" },
    class: "btn btn-primary btn-lg pull-right" do
    %i.fa.fa-floppy-o
    Save Details

  .modal.fade{id: 'save-incomplete-application', role: "dialog", tabindex: "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4.modal-title Saving Application Details
        %form
          .modal-body
            %p.text-center
              = image_tag 'ajax-loader.gif'

/ Note, we ensure that the modals are rendered **outside** the form.
#owners_modals
  = render partial: "/submissions/extended/forms/owners/modals"
