.row
  .col-md-12
    .x_panel
      .x_title
        %h2 Application Details
        .clearfix
      .x_content
        %div{"data-example-id" => "togglable-tabs", :role => "tabpanel"}
          %ul#myTab.nav.nav-tabs.bar_tabs{:role => "tablist"}

            %li{:role => "presentation", class: "active"}
              %a#vessel-tab{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#vessel_tab", :role => "tab"} Vessel Details

            %li{:role => "presentation"}
              %a#engines-tab{"data-toggle" => "tab", :href => "#engines_tab", :role => "tab"} Engines

            %li{:role => "presentation"}
              %a#owners-tab{"data-toggle" => "tab", :href => "#owners_tab", :role => "tab"}
                Owners
                = "& Shareholding" if display_shareholding?(@submission)

            - if display_charterers?(@submission)
              %li{:role => "presentation"}
                %a#charterers-tab{"data-toggle" => "tab", :href => "#charterers_tab", :role => "tab"} Charterers

            - if display_mortgages?(@submission)
              %li{:role => "presentation"}
                %a#mortgages-tab{"data-toggle" => "tab", :href => "#mortgages_tab", :role => "tab"} Mortgages

            - if display_managers?(@submission)
              %li{:role => "presentation"}
                %a#managers-tab{"data-toggle" => "tab", :href => "#managers_tab", :role => "tab"} Managers

            %li{:role => "presentation"}
              %a#documents-tab{"data-toggle" => "tab", :href => "#documents_tab", :role => "tab"} Certificates & Documents

            %li{:role => "presentation"}
              %a#agents-tab{"data-toggle" => "tab", :href => "#agents_tab", :role => "tab"} Agent & Representative Person

            %li{:role => "presentation"}
              %a#correspondence-tab{"data-toggle" => "tab", :href => "#correspondence_tab", :role => "tab"} Correspondence

            %li{:role => "presentation"}
              %a#payments-tab{"data-toggle" => "tab", :href => "#payments_tab", :role => "tab"} Payments

            %li{:role => "presentation"}
              %a#notes-tab{"data-toggle" => "tab", :href => "#notes_tab", :role => "tab"} Notes

          #myTabContent.tab-content

            #vessel_tab.tab-pane{class: "active", "aria-labelledby" => "vessel-tab", :role => "tabpanel"}
              = render partial: "submissions/extended/forms/vessel/form",
                locals: { disabled: !@submission.vessel_can_be_edited? }

            #engines_tab.tab-pane{"aria-labelledby" => "engines-tab", :role => "tabpanel"}
              #engines= render partial: "submissions/extended/forms/engines/base"

            #owners_tab.tab-pane{"aria-labelledby" => "owners-tab", :role => "tabpanel"}
              = render partial: "submissions/extended/forms/owners/tab_content"

            #mortgages_tab.tab-pane{"aria-labelledby" => "mortgages-tab", :role => "tabpanel"}
              #mortgages= render partial: "submissions/extended/forms/mortgages/base"

            #charterers_tab.tab-pane{"aria-labelledby" => "charterers-tab", :role => "tabpanel"}
              #charterers= render partial: "submissions/extended/forms/charterers/base"

            #managers_tab.tab-pane{"aria-labelledby" => "managers-tab", :role => "tabpanel"}
              #managers= render partial: "submissions/extended/forms/managers/base"

            #documents_tab.tab-pane{"aria-labelledby" => "documents-tab", :role => "tabpanel"}
              #carving_and_marking= render partial: "submissions/extended/forms/carving_and_marking/base"
              %hr
              #documents= render partial: "submissions/extended/forms/documents/base"

            #agents_tab.tab-pane{"aria-labelledby" => "agents-tab", :role => "tabpanel"}
              #agent= render partial: "submissions/extended/forms/agents/base"
              %hr
              #representative= render partial: "submissions/extended/forms/representatives/base"

            #correspondence_tab.tab-pane{"aria-labelledby" => "notes-tab", :role => "tabpanel"}
              = render partial: "shared/notification_list/base", locals: { notification_list: @submission.notification_list }
              - if Policies::Actions.editable?(task, current_user)
                = render partial: "submissions/actions/add_correspondence", locals: { submission: @submission }

            #payments_tab.tab-pane{"aria-labelledby" => "payments-tab", :role => "tabpanel"}
              #oayments= render partial: "submissions/basic/body/payments", locals: { submission: @submission }

            #notes_tab.tab-pane{"aria-labelledby" => "notes-tab", :role => "tabpanel"}
              #notes= render partial: "submission/notes/base", locals: { submission: @submission }
