- i = declaration_counter + 1
%table.table.table-striped{ id: "declaration_#{ i }"}
  %thead
    %th Owner ##{ i }
    %th
      - if i == 1
        Submitted Information
  %tbody
    %tr
      %td{width: "30%"} Owner Name
      %td.owner-name{width: "70%"}
        = editable_owner("Owner Name", "owner[name]", declaration.owner.name, declaration)
    %tr
      %td Owner Address
      %td
        %a#owner-address{"data-placement" => "bottom", "data-title" => "Owner Address", "data-type" => "text", :href => "#"}
          %strong= declaration.owner.inline_address
    %tr
      %td Owner Email
      %td.owner-email
        = editable_owner("Owner Email", "owner[email]", declaration.owner.email, declaration)
    %tr
      %td Owner Phone Number
      %td.owner-phone_number
        = editable_owner("Owner Phone Number", "owner[phone_number]", declaration.owner.phone_number, declaration)
    %tr
      %td Declaration
      %td.declaration
        - if declaration.completed?
          %i.fa.fa-check
          %strong Completed online
          (#{ declaration.completed_at })
%hr
