%tr
  %td System Email
  %td= link_to notification.email_subject, "#notification-#{ notification.id }", "data-target" => "#notification-#{ notification.id }", "data-toggle" => "modal"
  %td
    = link_to notification.created_at.to_s(:date_time), "#email-content", "data-target" => "#notification-#{ notification.id }", "data-toggle" => "modal"
    = render partial:  "submissions/modals/notification", locals: { notification: notification }

