%table.table.table-striped.table-fluid.submission
  %thead
    %th Vessel Details
    %th Submitted Information
  %tbody
    %tr
      %td{width: "30%"} Vessel Name
      %td#vessel-name{width: "70%"}
        %strong
          = editable_vessel("Vessel name", "vessel[name]", vessel.name)
          .i.fa.fa-star-o.hidden
        .pull-right
          = vessel.alt_names.join(', ')
    %tr
      %td Hull Identification Number (HIN)
      %td#vessel-hin
        %strong
          = editable_vessel("Hull Identification Number", "vessel[hin]", vessel.hin)
          .i.fa.fa-star-o.hidden
    %tr
      %td Make and model
      %td#vessel-make_and_model
        %strong
          = editable_vessel("Make and model", "vessel[make_and_model]", vessel.make_and_model)
    %tr
      %td Length
      %td#vessel-length_in_meters
        %strong
          = editable_vessel("Length", "vessel[length_in_meters]", vessel.length_in_meters)
    %tr
      %td Number of hulls
      %td#vessel-number_of_hulls
        %strong
          = editable_vessel("Number of hulls", "vessel[number_of_hulls]", vessel.number_of_hulls)
    %tr
      %td Vessel type
      %td#vessel-vessel_type
        %strong
          = editable_vessel("Vessel type", "vessel[vessel_type]", vessel.vessel_type)
    %tr
      %td MMSI Number
      %td#vessel-mmsi_number
        %strong
          = editable_vessel("MMSI Number", "vessel[mmsi_number]", vessel.mmsi_number)
          .i.fa.fa-star-o.hidden
    %tr
      %td Radio Call Sign
      %td#vessel-radio_call_sign
        %strong
          = editable_vessel("Radio Call Sign", "vessel[radio_call_sign]", vessel.radio_call_sign )
          .i.fa.fa-star-o.hidden
