= simple_form_for @carving_and_marking,
  method: :post,
  url: submission_carving_and_marking_path(submission, task_id: @task.id) do |f|
  = hidden_field_tag "modal_id", "issue_carving_and_marking"
  = f.input :delivery_method, as: :hidden

  = render partial: @carving_and_marking.delivery_method.to_s,
    locals: { f: f, submission: submission }

  .modal-footer
    = f.submit "Issue Carving & Marking Note", class: "btn btn-primary"
