- account_ledger = AccountLedger.new(submission)
.col-md-4
  .x_panel
    %h2.x_title Payment for this Task
    .x_content
      .panel.panel-success
        .panel-heading
          .panel-title{align: :center}
            Payment Received: #{formatted_amount(account_ledger.amount_paid)}
      %table.table
        %tbody
          %tr
            %td= Task.new(submission.task).description
            %td
              %strong= formatted_amount(account_ledger.amount_due)
          %tr
            %td
              .pull-right Balance
            %td
              %strong= formatted_amount(account_ledger.balance)

      %p Fee Category: #{Policies::Definitions.fee_category(submission)}
