%ul.nav.side-menu
  %li
    %a.toggle-tasks
      %i.fa.fa-list-ol
      Tasks
      %span.fa.fa-chevron-down
    %ul.nav.child_menu{:style => "display: none"}
      %li= link_to "My Tasks", tasks_my_tasks_path
      %li= link_to "Team Tasks", tasks_team_tasks_path
      %li= link_to "Unclaimed Tasks", tasks_unclaimed_path
      %li= link_to "Referred Tasks", tasks_referred_path
      %li= link_to "Cancelled Tasks", tasks_cancelled_path
  %li
    %a
      %i.fa.fa-gbp
      Finance Payments
      %span.fa.fa-chevron-down
    %ul.nav.child_menu{:style => "display: none"}
      %li= link_to "Fees Received", unattached_payments_finance_payments_path
      %li= link_to "Refunds Due", unattached_refunds_finance_payments_path
  %li
    %a
      %i.fa.fa-folder-open
      Applications
      %span.fa.fa-chevron-down
    %ul.nav.child_menu{:style => "display: none"}
      %li= link_to "Open Applications", open_submissions_path
      %li= link_to "Completed Applications", completed_submissions_path
  %li
    %a
      %i.fa.fa-print
      Print Queue
      %span.fa.fa-chevron-down
    %ul.nav.child_menu{:style => "display: none"}

      - current_activity.printable_templates.each do |template|
        %li= link_to t("print_job.menu_title.#{template}"), "/print_queue/#{template}"
  %li
    %a
      %i.fa.fa-ship
      Vessels
      %span.fa.fa-chevron-down
    %ul.nav.child_menu{:style => "display: none"}
      %li= link_to "Registered Vessels", vessels_path
