%ul.nav.side-menu
  %li
    %a.reports_menu
      %i.fa.fa-bar-chart-o
      External Reports
      %span.fa.fa-chevron-down
    %ul.nav.child_menu{:style => "display: none"}
      %li= link_to "Fishing Regional", admin_report_path(:fishing_regional)
      %li= link_to "MAIB", admin_report_path(:maib)

%ul.nav.side-menu
  %li
    %a.reports_menu
      %i.fa.fa-bar-chart-o
      Management Reports
      %span.fa.fa-chevron-down
    %ul.nav.child_menu{:style => "display: none"}
      %li= link_to "Advanced Search", admin_report_path(:advanced_search)
      %li= link_to "Expiring Certificates", admin_report_path(:expiring_certificates)
      %li= link_to "Staff Performance", admin_report_path(:staff_performance)
      %li= link_to "Staff Performance by Task", admin_report_path(:staff_performance_by_task)
      %li= link_to "Vessel Registration Status", admin_report_path(:vessel_registration_status)

