- @submission_tasks = @submission.tasks.includes(:submission, :service)
.x_panel
  %h2.x_title Tasks for this Application
  .x_content
    %table.table
      %thead
        %th Task
        %th Service Level
        %th Price
        %th Start Date
        %th Target Date
        %th Reference No
        %th Status
      %tbody
        - @submission.tasks.includes(:service).each do |task|
          %tr
            %td.service_name= task.service.name
            %td.service_level= task.service_level.to_s.humanize
            %td.formatted_price= formatted_amount(task.price)
            %th.start_date= task.start_date
            %th.target_date= task.target_date
            %th.ref_no= task.ref_no
            %th.state
              = render partial: "submission/tasks/status", locals: { task: task }
  .x_footer
    - unless @submission.tasks.initialising.empty?
      = button_to confirm_submission_tasks_path(@submission),
        class: "btn btn-success btn-md pull-right" do
        %i.fa.fa-check
        Confirm Tasks
