- submission = Decorators::Submission.new(@submission)
= render partial: "submissions/info/breadcrumbs", locals: {submission: submission}
= render partial: "submissions/info/heading", locals: {submission: submission}
= render partial: "submissions/info/prompts", locals: {submission: submission}

.x_panel
  %h2.x_title Tasks for this Application
  .x_content#submission_tasks
    %table.table
      %thead
        %th Task
        %th Price
        %th Reference No
        %th Status
      %tbody
        - @submission_tasks.each do |task|
          %tr
            %td.service_name= task.service.name
            %td.formatted_price= formatted_amount(task.price)
            %th.ref_no= task.ref_no
            %th

  .x_content#services
    %h2.x_title Available Services
    %table.table
      %thead
        %th Task
        %th Standard days
        %th Premium days
        %th Standard price
        %th Premium supplement
        %th Subsequent price
      %tbody
        - Service.in_part(current_activity.part).each do |service|
          %tr
            %td= link_to service
            %td= service.standard_days
            %td= service.premium_days
            %td= link_to_create_standard_task(service, current_activity.part)
            %td= link_to_create_premium_task(service, current_activity.part)
            %td= link_to_create_subsequent_task(service, current_activity.part)
