- content_for :task_body do
  .x_panel
    .x_content
      %div{"data-example-id" => "togglable-tabs", :role => "tabpanel"}

        %ul#submissionTab.nav.nav-tabs.bar_tabs{:role => "tablist"}
          %li.active{:role => "presentation"}
            %a#vessel-tab{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#tab_content_vessel", :role => "tab"} Vessel Info

          %li{:role => "presentation"}
            %a#supporting-tab{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab_content_supporting", :role => "tab"} Supporting Info


          %li{:role => "presentation"}
            %a#documents-tab{"data-toggle" => "tab", :href => "#documents_tab", :role => "tab"} Certificates & Documents

          %li{:role => "presentation"}
            %a#correspondence-tab{"data-toggle" => "tab", :href => "#correspondence_tab", :role => "tab"} Correspondence

          %li{:role => "presentation"}
            %a#payments-tab{"data-toggle" => "tab", :href => "#payments_tab", :role => "tab"} Payments

          %li{:role => "presentation"}
            %a#notes-tab{"data-toggle" => "tab", :href => "#notes_tab", :role => "tab"} Notes

          %li{:role => "presentation"}
            %a#work-logs-tab{"data-toggle" => "tab", :href => "#work_logs_tab", :role => "tab"} Work Logs

        #submissionTabContent.tab-content
          #tab_content_vessel.tab-pane.fade.active.in{"aria-labelledby" => "vessel-tab", :role => "tabpanel"}
            This task does not permit updating registered particulars

          #tab_content_supporting.tab-pane.fade{"aria-labelledby" => "supporting-tab", :role => "tabpanel"}
            = render partial: "submissions/basic/body/supporting_info"

          #documents_tab.tab-pane{"aria-labelledby" => "documents-tab", :role => "tabpanel"}
            #documents= render partial: "submissions/extended/forms/documents/base"

          #correspondence_tab.tab-pane{"aria-labelledby" => "notes-tab", :role => "tabpanel"}
            = render partial: "shared/notification_list/base", locals: { notification_list: @submission.notification_list }
            - unless @readonly
              = render partial: "submissions/actions/add_correspondence", locals: { submission: @submission }

          #payments_tab.tab-pane{"aria-labelledby" => "payments-tab", :role => "tabpanel"}
            #oayments= render partial: "submissions/basic/body/payments", locals: { submission: @submission }

          #notes_tab.tab-pane{"aria-labelledby" => "notes-tab", :role => "tabpanel"}
            #notes= render partial: "submission/notes/base", locals: { submission: @submission }

          #work_logs_tab.tab-pane{"aria-labelledby" => "work-logs-tab", :role => "tabpanel"}
            = render partial: "submissions/basic/body/work_logs", locals: { submission: @submission }


= render partial: "base", locals: { task: @task, submission: @submission }
