%h1 Work Logs
.row
  .col-md-12.col-sm-12.col-xs-12
    .x_panel
      .x_content
        %table.table.table-striped.table-hover
          %thead
            %tr
              %th Date
              %th Application
              %th Activity
              %th Officer
          %tbody
            - @work_logs.each do |work_log|
              %tr
                %td= work_log.created_at.in_time_zone.to_s(:date_time)
                %td= link_to work_log.submission.ref_no, submission_path(work_log.submission)
                %td= work_log.description.humanize
                %td= work_log.actioned_by

= will_paginate @work_logs, renderer: BootstrapPagination::Rails
