%h2 Vessel Information
= submission_f.simple_fields_for :vessel do |vessel_f|
  %fieldset{ disabled: disabled }
    - vessel_f.object = submission_f.object.vessel
    .row
      .col-md-4
        = vessel_f.input :name, label: "Approved Vessel Name change",
          input_html: { class: "upcase", readonly: "readonly" }

      .col-md-2
        = vessel_f.input :registration_type, label: "Registration Type",
          as: :select,
          collection: registration_types_collection,
          include_blank: false,
          input_html: { class: "select2 select2_single" }

      .col-md-2
        = vessel_f.input :vessel_category, label: "Vessel Category",
          as: :select,
          collection: categories_collection(:part_2),
          include_blank: false,
          input_html: { class: "select2 select2_single" }

      .col-md-2
        = vessel_f.input :vessel_type_other, label: "Type of **General Cargo Ship**"

      .col-md-2
        = vessel_f.input :imo_number, label: "IMO Number", as: :numeric

    .row
      .col-md-2
        = vessel_f.input :port_code, label: "Port of Registry",
          as: :select,
          collection: ports_collection(@submission.part),
          include_blank: false,
          disabled: true,
          input_html: { class: "select2 select2_single searchable" }

      .col-md-2
        = vessel_f.input :port_no, label: "Port Number",
          as: :feedback,
          feedback_label: vessel_f.object.port_code,
          placement: :left,
          readonly: :readonly
