.top_nav.no-print
  .nav_menu
    %nav{:role => "navigation"}
      .nav.toggle
        %a#menu_toggle
          %i.fa.fa-bars
      .nav.navbar-left.active-register
        = link_to "Active: #{ current_activity }", "/", class: "btn btn-#{current_activity.bs_theme}"
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown"}
            Logged in as #{current_user} (#{current_user.access_level.titleize})
            %span.fa.fa-angle-down
          %ul.dropdown-menu.pull-right
            %li
              = link_to "Automated Email Queue", admin_notifications_path
            %li
              = link_to "Commonly-used Mortgagees", admin_common_mortgagees_path
            %li
              = link_to "Gov UK", ENV['GOVUK_HOST'], target: "blank"
            %li
              = link_to "Target Date Calculator", admin_target_dates_path
            %li
              = link_to "Task Processing", admin_tasks_path
            %li
              = link_to "User Management", admin_users_path
            %li
              %hr
              = link_to destroy_user_session_path, method: :delete, id: "logout" do
                %i.fa.fa-sign-out.pull-right
                Log Out
        %li{style: "width: 250px"}
          .top_search
            - if current_activity.searchable?
              = form_tag "/search", method: :get do
                = render partial: "search/fields"
  .clearfix
