<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= title %></title>

  <!--[if gt IE 8]><!--><%= stylesheet_link_tag "govuk-template.css?0.17.1", media: "screen" %><!--<![endif]-->
  <!--[if IE 6]><%= stylesheet_link_tag "govuk-template-ie6.css?0.17.1", media: "screen" %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag "govuk-template-ie7.css?0.17.1", media: "screen" %><![endif]-->
  <!--[if IE 8]><%= stylesheet_link_tag "govuk-template-ie8.css?0.17.1", media: "screen" %><![endif]-->
  <%= stylesheet_link_tag "govuk-template-print.css?0.17.1", media: "print" %>

  <!--[if IE 8]>
  <script>
   (function(){if(window.opera){return;}
    setTimeout(function(){var a=document,g,b={families:(g=
    ["nta"]),urls:["<%= asset_path("fonts-ie8.css?0.17.1") %>"]},
    c="<%= asset_path("vendor/goog/webfont-debug.js?0.17.1") %>",d="script",
    e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
    ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h=h-1;a.documentElement
    .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
   })()
  </script>
  <![endif]-->
  <!--[if gte IE 9]><!--><%= stylesheet_link_tag "fonts.css?0.17.1", media: "all" %><!--<![endif]-->
  <!--[if lt IE 9]><%= javascript_include_tag "ie.js?0.17.1" %><![endif]-->

  <%= favicon_link_tag "favicon.ico?0.17.1" %>
  <%= favicon_link_tag "gov.uk_logotype_crown.svg?0.17.1", rel: "mask-icon", color: "#0b0c0c", type: "image/svg" %>
  <%= favicon_link_tag "apple-touch-icon-152x152.png?0.17.1", rel: "apple-touch-icon-precomposed", sizes: "152x152", type: "image/png" %>
  <%= favicon_link_tag "apple-touch-icon-120x120.png?0.17.1", rel: "apple-touch-icon-precomposed", sizes: "120x120", type: "image/png" %>
  <%= favicon_link_tag "apple-touch-icon-76x76.png?0.17.1", rel: "apple-touch-icon-precomposed", sizes: "76x76", type: "image/png" %>
  <%= favicon_link_tag "apple-touch-icon-60x60.png?0.17.1", rel: "apple-touch-icon-precomposed" %>

  <meta property="og:image" content="<%= asset_path("opengraph-image.png?0.17.1") %>">

  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= body_class %>">
  <script>document.body.className = ((document.body.className) ? document.body.className + " js-enabled" : "js-enabled");</script>

  <div id="skiplink-container">
    <div>
      <a href="#content" class="skiplink"></a>
    </div>
  </div>

  <div id="global-cookie-message"></div>

  <%= render "layouts/header" %>

  <main role="main" id="content">
    <%= render "layouts/phase_banner" %>

    <div id="page">
      <%= render "flashes" -%>
      <%= yield %>
    </div>
  </main>

  <%= render "layouts/footer" %>

  <div id="global-app-error" class="app-error hidden"></div>

  <%= render "javascript" %>
  <%= render "css_overrides" %>
</body>
</html>
