!!!
%html{:lang => "en"}
  %head
    %meta{}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "NOODP", :name => "ROBOTS"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title= title || "MCA"
    = stylesheet_link_tag "application", media: :screen
    = stylesheet_link_tag "print", media: :print
    = csrf_meta_tags
  %body.nav-md
    .container.body
      .main_container
        = render partial: "layouts/sidebar/base"
        = render partial: "layouts/topnav"

        .right_col{role: "main"}
          .row
            .col-sm-12
              = render partial: "layouts/flash"
              = yield
  = render "javascript"
  = render "css_overrides"
