<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="ROBOTS" content="NOODP" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>

    <%= favicon_link_tag "favicon.ico?0.17.1" %>
    <%= favicon_link_tag "apple-touch-icon-152x152.png?0.17.1", rel: "apple-touch-icon-precomposed", sizes: "152x152", type: "image/png" %>
    <%= favicon_link_tag "apple-touch-icon-120x120.png?0.17.1", rel: "apple-touch-icon-precomposed", sizes: "120x120", type: "image/png" %>
    <%= favicon_link_tag "apple-touch-icon-76x76.png?0.17.1", rel: "apple-touch-icon-precomposed", sizes: "76x76", type: "image/png" %>
    <%= favicon_link_tag "apple-touch-icon-60x60.png?0.17.1", rel: "apple-touch-icon-precomposed" %>

    <meta property="og:image" content="<%= asset_path("opengraph-image.png?0.17.1") %>">

    <%= stylesheet_link_tag :internal, media: "all" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= body_class %>">
    <script>document.body.className = ((document.body.className) ? document.body.className + " js-enabled" : "js-enabled");</script>

    <div class="page-wrap">

      <div class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <% if signed_in? %>
            <%= render partial: 'shared/navbar/logged_in' %>
          <% else %>
            <%= render partial: 'shared/navbar/logged_out' %>
          <% end %>
        </div>
      </div>

      <div id="flash">
        <% flash.each do |key, value| -%>
          <div class="alert alert-danger" role="alert">
            <%= h value %>
          </div>
        <% end %>
      </div>

      <div class="container-fluid">
        <%= yield %>
      </div>

    </div>

    <footer>
      <div class="container footer-text">
        <p class="text-muted">&copy; 2016 Maritime And Coastguard Agency</p>
      </div>
    </footer>

  </body>
  <%= render "javascript" %>
  <%= render "css_overrides" %>
</html>
